@charset "utf-8";
i{font-style:normal}
.break{display:block;} 
.plump{}	
.block{display:block}
	@media all and (max-width:480px) {
		.plump{display:block}
		.block{display:block}
	}
	@media all and (max-width:1024px) {
		.m-none{display:none}
		.break{display:inline}
	}


/* 스킵네비게이션 */
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}

.ov{overflow:hidden}


/* 인풋텍스트 셀렉트  */
input[type="text"]{height:34px; border:1px solid #ddddde; color:#555555; box-sizing:border-box; font-size:13px; padding:0px 8px; display:inline-block; vertical-align:middle; -webkit-appearance: none; -webkit-border-radius:0;}
input[type="text"]:focus{border:1px solid #006638;}
input[type="text"]::placeholder{color:#555555; opacity:1;}
input[type="password"]{height:34px; border:1px solid #ddddde; color:#555555; box-sizing:border-box; font-size:13px; padding:0px 8px; display:inline-block; vertical-align:middle; -webkit-appearance: none; -webkit-border-radius:0;}
input[type="password"]:focus{border:1px solid #006638;}
input[type="password"]::placeholder{color:#555555; opacity:1;}
select{position:relative; width:100%; height:28px; color:#444; padding:0px 30px 0px 10px; border:1px solid #ddddde; font-size:13px; text-align:left; text-align-last:left; display:inline-block; vertical-align:middle; box-sizing:border-box; background:url(../_Img/Layout/sel-arrow.png) no-repeat right #fff; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand{display:none;}
textarea{border:1px solid #ddddde; color:#555; box-sizing:border-box; padding:10px; font-size:13px; -webkit-appearance: none; -webkit-border-radius:0;}
textarea:focus{border:1px solid #006638;}

/* radios check */
.chk-radios {display:inline-block; font-size:0px; vertical-align:middle; line-height:120%; color:#000;}
.chk-radios input[type="radio"]{position:absolute; width:1px; height:1px; padding: 0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border: 0; }
.chk-radios input[type="radio"] + label{display:inline-block; position: relative; padding-left:18px; font-size:13px; color:#4d4d4d; line-height:100%; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.chk-radios input[type="radio"] + label:before { content:''; position: absolute; left:0; top:0px; width:12px; height:12px; text-align:center; background:#fff; border:1px solid #a3a3a3; border-radius:50%; }
.chk-radios input[type="radio"] + label:after {}
.chk-radios input[type="radio"] + label:active:before, .checks input[type="radio"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }
.chk-radios input[type="radio"]:checked + label:before {background:#fa7600; border:1px solid #fa7600;}
.chk-radios input[type="radio"]:checked + label:after { content:''; position:absolute; top:4px; left:4px; width:6px; height:6px; background:#fff; border-radius:100%; }

.chk-check{display:inline-block; font-size:0px; vertical-align:middle; line-height:100%; color:#000;}
.chk-check input[type="checkbox"]{position:absolute; width:1px; height: 1px; padding: 0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.chk-check input[type="checkbox"] + label{display:inline-block; position:relative; padding-left:20px; font-size:13px; line-height:100%; color:#767676; font-weight:500; letter-spacing:-0.03em; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.chk-check input[type="checkbox"] + label:before{content:''; position: absolute; left:0px; top:0px; width:12px; height:12px; text-align:center; background:#fff; border:1px solid #a6a6a6;}
.chk-check input[type="checkbox"] + label:active:before, .checks input[type="radio"]:checked + label:active:before {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); }
.chk-check input[type="checkbox"] + label:after{content:''; position:absolute; top:0px; left:0px; width:14px; height:14px;}
.chk-check input[type="checkbox"]:checked + label{color:#000;}
.chk-check input[type="checkbox"]:checked + label:before {background:#fff; border-color:#006638;}
.chk-check input[type="checkbox"]:checked + label:after{background:url(../_Img/Layout/check-icon.png) no-repeat center #006638; background-size:9px;}


/* layer-wrap.app */
.layer-wrap.login{position:absolute; width:611px; border:1px solid #717171; padding:28px 40px; display:none; background:#fff; box-sizing:border-box;}

.layer-wrap.login .title{font-size:20px; color:#000; font-weight:600; margin-bottom:25px; line-height:120%; letter-spacing:-0.03em;}

.layer-wrap.login .login-tab{position:relative; padding-top:50px;}
.layer-wrap.login .login-tab>li>a{display:block; position:absolute; top:0px; left:0px; width:50%; line-height:48px; background:#e3e3e3; color:#454545; text-align:center; font-size:17px; border:1px solid #cdcdcd; border-bottom:1px solid #f87907; box-sizing:border-box; }
.layer-wrap.login .login-tab>li.on>a{color:#fa7600; border:1px solid #f87907; border-bottom:none; background:#fff; z-index:1;}
.layer-wrap.login .login-tab>li:first-child>a {left:0;}
.layer-wrap.login .login-tab>li+li>a {left:50%;}
.layer-wrap.login .login-tab>li>div.stab-con{height:0px; overflow:hidden; position:absolute; padding-top:30px;}
.layer-wrap.login .login-tab>li.on>div.stab-con{height:auto; position:static;}

.layer-wrap.login .tit{font-size:17px; color:#222; line-height:120%; margin-bottom:15px; font-weight:600; line-height:120%; letter-spacing:-0.03em;}
.layer-wrap.login .inputs-btn{}
.layer-wrap.login .inputs-btn input[type="text"]{width:100%; height:50px; padding:0px 15px;}
.layer-wrap.login .inputs-btn input[type="text"]:focus{border:1px solid #fa7600;}
.layer-wrap.login .inputs-btn input[type="password"]{width:100%; height:50px; padding:0px 15px;}
.layer-wrap.login .inputs-btn input[type="password"]:focus{border:1px solid #fa7600;}
.layer-wrap.login .inputs-btn .btn{width:100%; line-height:53px; display:block; background:#fa7600; color:#fff; font-size:20px; font-weight:600; border-radius:5px; text-align:center;}

.layer-wrap.login .chk-check input[type="checkbox"]:checked + label:after{ background-color:#fa7600;}

.layer-wrap.login .naver-kakao-btn{margin-bottom:10px;}
.layer-wrap.login .naver-kakao-btn .naver-btn{border:1px solid #b1b1b1; line-height:53px; display:block; text-align:center; font-size:17px; color:#454545; border-radius:8px; letter-spacing:-0.03em;}
.layer-wrap.login .naver-kakao-btn .naver-btn .icon{width:81px; height:15px; background:url(../_Img/Layout/naver-icon.png) no-repeat center; display:inline-block; vertical-align:middle; margin-top:-3px; margin-right:10px; font-size:0px;}
.layer-wrap.login .naver-kakao-btn .kakao-btn{border:1px solid #b1b1b1; line-height:53px; display:block; text-align:center; font-size:17px; color:#454545; border-radius:8px; letter-spacing:-0.03em;}
.layer-wrap.login .naver-kakao-btn .kakao-btn .icon{width:71px; height:22px; background:url(../_Img/Layout/kakao-icon.png) no-repeat center; display:inline-block; vertical-align:middle; margin-top:-3px; margin-right:10px; font-size:0px;}

.layer-wrap.login .ctxt{font-size:13px; color:#454545; letter-spacing:-0.02em; line-height:120%;}

.layer-wrap.login .btn-wrap .nonmem-btn{background:#175db3; line-height:53px; display:block; text-align:center; font-size:20px; color:#fff; font-weight:600; border-radius:8px; letter-spacing:-0.03em;}

.layer-wrap.login .id-pass-join{font-size:0px; text-align:center;}
.layer-wrap.login .id-pass-join li{position:relative; display:inline-block;}
.layer-wrap.login .id-pass-join li:before{position:absolute; top:2px; left:0px; width:1px; height:12px; background:#d2d2d2; content:"";}
.layer-wrap.login .id-pass-join li:first-child:before{display:none;}
.layer-wrap.login .id-pass-join li a{padding:0px 12px; font-size:13px; line-height:120%;}

.layer-wrap.login .radios .chk-radios{margin-right:25px;}
			
.layer-wrap.login .close-btn{position:absolute; top:20px; right:32px; display:block; width:30px; height:30px; background:url(../_Img/Main/close-btn01.png) no-repeat center;}

/* paging-num */
.paging-num{text-align:center; font-size:0px;}
.paging-num li{display:inline-block; vertical-align:top; font-size:13px; box-sizing:border-box; margin:0px 2px; border:1px solid #e2e2e2;}
.paging-num li a{width:28px; height:28px; display:block; color:#555454; display:block; line-height:28px;}
.paging-num li a:hover{color:#f37021;}
.paging-num li.active a{font-weight:600; color:#f37021;}

.paging-num li.first a{background:url(../_Img/Content/paging-first.png) no-repeat center #eee;}
.paging-num li.prev a{background:url(../_Img/Content/paging-prev.png) no-repeat center #eee;}
.paging-num li.next a{background:url(../_Img/Content/paging-next.png) no-repeat center #eee;}
.paging-num li.last a{background:url(../_Img/Content/paging-last.png) no-repeat center #eee;}


/* layer-wrap.app */
.layer-wrap.allmenu{position:absolute; width:1098px; border:1px solid #6c6f68; display:none; background:#fff; box-sizing:border-box; display:none;}
.layer-wrap.allmenu .title{line-height:47px; padding:0px 22px; font-size:20px; color:#010101; font-weight:600; letter-spacing:-0.02px;}

.layer-wrap.allmenu table{}

.layer-wrap.allmenu table thead tr th{background:#f2f2f2; border:1px solid #cdcdcd; font-size:13px; text-align:center; padding:8px 0px; color:#006a36; font-weight:600;}
.layer-wrap.allmenu table thead tr th.menu{background:#e8ffed; border-bottom:none;}

.layer-wrap.allmenu table tbody tr td{border:1px solid #cdcdcd; padding:15px; vertical-align:top; text-align:left;}
.layer-wrap.allmenu table tbody tr td ul{}
.layer-wrap.allmenu table tbody tr td ul li{font-size:13px; color:#555; margin-bottom:10px; line-height:120%; letter-spacing:-0.02em;}
.layer-wrap.allmenu table tbody tr td ul li:last-child{margin-bottom:0px;}
.layer-wrap.allmenu table tbody tr td ul li a{color:#555;}
.layer-wrap.allmenu table tbody tr td.half ul{width:50%; float:left;}

.layer-wrap.allmenu table tbody tr td.menu{padding:15px 25px; background:#e8ffed; border-top:none;}
.layer-wrap.allmenu table tbody tr td.menu ul{margin-top:-30px;}
.layer-wrap.allmenu table tbody tr td.menu ul li{font-size:13px; font-weight:600; color:#333; margin-bottom:20px;}

.layer-wrap.allmenu .close-btn{position:absolute; top:8px; right:10px; display:block; width:30px; height:30px; background:url(../_Img/Main/close-btn01.png) no-repeat center;}


