@charset "utf-8";
.top-adver{position:relative; text-align:center; min-height:80px;}
.top-adver .item{position:relative; left:50%; top:0px; width:2000px; margin-left:-1000px;}
.top-adver .close-btn{position:absolute; left:50%; top:50%; z-index:9; width:30px; margin-left:518px; height:30px; margin-top:-15px; display:block; background:url(../_Img/Main/top-adver-close.png) no-repeat center;}

#main #header-wrap:before{position:absolute; left:50%; top:0px; background:#006f35; width:2000px; margin-left:-1000px; height:100%; border-bottom:none; display:block; content:""; z-index:-1;}
#main #header-wrap:after{display:none;}

#header.main{height:auto;}

#header.main #gnb-wrap{position:relative; height:93px; z-index:6002; font-family:'NanumBarunGothic';}
#header.main #gnb-wrap:after{clear:both;content:""; display:block;}
#header.main #gnb-wrap:before{width:2000px; height:100%; background:none; border-bottom:1px solid #02552b; display:block; content:""; position:absolute; left:50%; margin-left:-1000px; top:0; z-index:-1}

#header.main #gnb-wrap #logo{position:relative; left:auto; top:auto; float:left; margin-top:25px;}
#header.main #gnb-wrap #logo a{display:block; height:45px; background:url(../_Img/m-logo.png) no-repeat center;}

#header.main #gnb-wrap .gnb-menu{position:relative; right:auto; top:auto; float:right; margin-top:35px;}
#header.main #gnb-wrap .gnb-menu li:before{display:none;}
#header.main #gnb-wrap .gnb-menu:after{clear:both;content:""; display:block;}
#header.main #gnb-wrap .gnb-menu li{position:relative; margin:0px; float:left;}
#header.main #gnb-wrap .gnb-menu li:nth-child(5){padding-left:10px; border-left:1px solid #fff;}
#header.main #gnb-wrap .gnb-menu li a{padding:0px 15px; font-size:13px; color:#fff;}
#header.main #gnb-wrap .gnb-menu li:last-child a{padding-right:0px;}

#header.main #gnb-wrap .gnb-menu li.depar a{padding-right:13px; margin-right:25px; background:url(../_Img/Main/depar-arrow-bottomW.png) no-repeat right;}
#header.main #gnb-wrap .gnb-menu li.depar.active a{background:url(../_Img/Main/depar-arrow-topW.png) no-repeat right;}

#header.main #gnb-wrap .gnb-menu li.depar .depar-list{position:absolute; left:0px; top:28px; border:1px solid #cdcdcd; padding:10px 8px 10px 8px; display:none; background:#fff;}
#header.main #gnb-wrap .gnb-menu li.depar .depar-list li{float:none; margin:0px; margin-bottom:5px;}
#header.main #gnb-wrap .gnb-menu li.depar .depar-list li:last-child{margin-bottom:0px;}
#header.main #gnb-wrap .gnb-menu li.depar .depar-list li a{padding:0px; background:none; font-size:12px; line-height:120%; color:#656565;}
#header.main #gnb-wrap .gnb-menu li.depar .depar-list li a:hover{text-decoration:underline;}
#header.main #gnb-wrap .gnb-menu li.depar.active .depar-list{display:block;}

#header.main #gnb-wrap .gnb-menu li.all-menu a{width:16px; height:16px; display:block; background:url(../_Img/Main/all-menu-btn.png) no-repeat center; line-height:120%; margin-top:4px;}

#header.main .search-menus{position:relative; padding:32px 0px 36px 0px;}
#header.main .search-menus:after{clear:both; content:""; display:block;}

#header.main .search-menus .search-theme-cate{position:relative; width:535px; margin:0px auto; padding-top:30px; float:left;}
#header.main .search-menus .search-theme-cate .search{}
#header.main .search-menus .search-theme-cate .search .btxt{font-family:'NanumSquare', sans-serif; font-size:30px; color:#fff; font-weight:600; margin-bottom:20px; line-height:120%; letter-spacing:-0.05em;}
#header.main .search-menus .search-theme-cate .search .input-btn{position:relative; margin-bottom:22px; box-sizing:border-box; padding-right:135px; box-shadow:2px 2px 2px 2px rgb(0, 0, 0, 0.3); -webkit-box-shadow:2px 2px 2px 2px rgb(0, 0, 0, 0.3);}
#header.main .search-menus .search-theme-cate .search .input-btn input[type="text"]{width:100%; height:54px; font-size:18px; padding:0px 20px;}
#header.main .search-menus .search-theme-cate .search .input-btn .btn{position:absolute; right:0px; top:0px; width:135px; line-height:54px; display:block; font-size:18px; text-align:center; color:#fff; font-weight:600;
background:#08ca33;
background:-moz-linear-gradient(left, #08ca33 0%, #019f24 100%);
background:-webkit-linear-gradient(left, #08ca33 0%,#019f24 100%);
background:linear-gradient(to right, #08ca33 0%,#019f24 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08ca33', endColorstr='#019f24',GradientType=1 );}
#header.main .search-menus .search-theme-cate .search .btns{overflow:hidden;}
#header.main .search-menus .search-theme-cate .search .btns ul{float:right; padding:8px 0px; background:#005b2a; overflow:hidden;}
#header.main .search-menus .search-theme-cate .search .btns ul li{position:relative; float:left; padding:0px 15px;}
#header.main .search-menus .search-theme-cate .search .btns ul li:before{position:absolute; right:0px; top:4px; width:1px; height:15px; background:#2fe996; display:block; content:"";}
#header.main .search-menus .search-theme-cate .search .btns ul li:last-child:before{display:none;}
#header.main .search-menus .search-theme-cate .search .btns ul li a{color:#2fe996; font-size:14px; line-height:120%; letter-spacing:-0.02em;}

/* theme */
#header.main .search-menus .search-theme-cate .theme{position:absolute; top:140px; left:0px; width:838px; box-shadow:0px 2px 2px 2px rgb(0, 0, 0, 0.1); -webkit-box-shadow:0px 2px 2px 2px rgb(0, 0, 0, 0.1); display:none; z-index:9;}
#header.main .search-menus .search-theme-cate .theme .tit-close{height:39px; padding:0px 10px 0px 23px; border-bottom:1px solid #cdcdcd; background:#f2f2f2; overflow:hidden;}
#header.main .search-menus .search-theme-cate .theme .tit-close .tit{line-height:39px; color:#222; font-size:14px; font-weight:600; float:left;}
#header.main .search-menus .search-theme-cate .theme .tit-close .close-btn{width:30px; height:30px; margin-top:5px; background:red; display:block; float:right; background:url(../_Img/Main/close-btn01.png) no-repeat center;}

#header.main .search-menus .search-theme-cate .theme .theme-tab{position:relative; height:auto; overflow:hidden; background:#fff; z-index:9;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap{width:148px;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .tab{width:100%; display:inline; position:relative; z-index:2; font-size:14px; font-weight:bold;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .tab a{padding:0px 20px; height:47px; padding-top:15px; box-sizing:border-box; line-height:120%; display:block; text-align:left; color:#333333; border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .tab a.line2{padding-top:7px;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .tab a span{position:relative; display:block;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .tab a span:before{position:absolute; top:50%; right:0px; height:18px; margin-top:-9px; content:"〉";}

#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap:last-child .tab a{border-bottom:none;}

#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt{position:absolute; left:148px; top:0px; width:691px; z-index:1; display:none; box-sizing:border-box; overflow:hidden;}

#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap.on .tab a{color:#ffffff; font-weight:bold; background:#00a55b; border-color:#00a55b;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap.on .tab a.cbrown{color:#ffffff !important;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap.on .cnt{display:block;}

#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt .list{width:20%; padding:15px 0px 15px 25px; box-sizing:border-box; float:left;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt .list dt{font-size:15px; color:#222; font-weight:600; line-height:120%; margin-bottom:15px;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt .list dt a{color:#222;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt .list dd{font-size:14px; color:#555; line-height:120%; margin-bottom:10px;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt .list dd a{color:#555;}
#header.main .search-menus .search-theme-cate .theme .theme-tab .wrap .cnt .list dd:last-child{margin-bottom:0px;}

#header.main .search-menus .search-theme-cate.active .theme{display:block;}
#header.main .search-menus .search-theme-cate.active .input-btn input[type="text"]{border:1px solid #079f26;}

/* cate */
#header.main .search-menus .search-theme-cate .cate{position:absolute; top:140px; left:0px; width:838px; box-shadow:0px 2px 2px 2px rgb(0, 0, 0, 0.1); -webkit-box-shadow:0px 2px 2px 2px rgb(0, 0, 0, 0.1);}
#header.main .search-menus .search-theme-cate .cate .tit-close{height:39px; padding:0px 10px 0px 23px; border-bottom:1px solid #cdcdcd; background:#f2f2f2; overflow:hidden;}
#header.main .search-menus .search-theme-cate .cate .tit-close .tit{line-height:39px; color:#222; font-size:14px; font-weight:600; float:left;}
#header.main .search-menus .search-theme-cate .cate .tit-close .close-btn{width:30px; height:30px; margin-top:5px; background:red; display:block; float:right; background:url(../_Img/Main/close-btn01.png) no-repeat center;}

#header.main .search-menus .search-theme-cate .cate .list{padding:17px 24px; background:#fff;}
#header.main .search-menus .search-theme-cate .cate .list ul li{position:relative; padding-left:10px; margin-bottom:12px; line-height:120%;}
#header.main .search-menus .search-theme-cate .cate .list ul li:before{position:absolute; top:6px; left:0px; width:2px; height:2px; background:#333333; content:"";}
#header.main .search-menus .search-theme-cate .cate .list ul li:last-child{margin-bottom:7px;}
#header.main .search-menus .search-theme-cate .cate .list ul li a{color:#333; padding:0px 15px 0px 5px; background:url(../_Img/Main/search-cate-arrow.png) no-repeat right; line-height:120%;}
#header.main .search-menus .search-theme-cate .cate .list ul li a:first-child{padding-left:0px;}
#header.main .search-menus .search-theme-cate .cate .list ul li a:last-child{padding-right:0px; background:none;}
#header.main .search-menus .search-theme-cate .cate .list ul li a strong{color:#ff5c00; font-weight:500;}

/* menus */
#header.main .search-menus .menus{width:492px; float:right;}
#header.main .search-menus .menus ul{ margin:0px -1%;}
#header.main .search-menus .menus ul:after{clear:both;content:""; display:block;}
#header.main .search-menus .menus ul li{position:relative; top:0px; left:0px; width:23%; margin:0px 1%; margin-bottom:25px; float:left; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
#header.main .search-menus .menus ul li:hover{top:-10px;}
#header.main .search-menus .menus ul li:nth-child(5){margin-bottom:0px;}
#header.main .search-menus .menus ul li:nth-child(6){margin-bottom:0px;}
#header.main .search-menus .menus ul li:nth-child(7){margin-bottom:0px;}
#header.main .search-menus .menus ul li:nth-child(8){margin-bottom:0px;}
#header.main .search-menus .menus ul li a{}
#header.main .search-menus .menus ul li a img{width:100%;}

/* msec-vis */
.msec-vis{position:relative; width:100%; padding:30px 0px;}

.msec-vis .svis-slide-for .slick-prev{position:absolute; top:50%; left:15px; z-index:1; width:70px; height:70px; margin-top:-35px; border:0px; font-size:0px; background:url(../_Img/Content/sub-vis-arrowL.png) no-repeat center;}
.msec-vis .svis-slide-for .slick-next{position:absolute; top:50%; right:15px; z-index:1; width:70px; height:70px; margin-top:-35px; border:0px; font-size:0px; background:url(../_Img/Content/sub-vis-arrowR.png) no-repeat center;}

.msec-vis .mvis-slide-nav{position:absolute; left:50%; bottom:40px; width:1070px; margin-left:-535px; z-index:1; text-align:center;}
.msec-vis .mvis-slide-nav li{}
.msec-vis .mvis-slide-nav li a{display:block; line-height:40px; font-size:13px; font-weight:600; letter-spacing:-0.02em; margin:0px 2px; color:#fff; background:rgba(0, 0, 0, 0.7);}
.msec-vis .mvis-slide-nav li.slick-current a{background:#fb7600; color:#fff;}

.msec-vis .mvis-slide-nav .slick-track{transform: translate3d(0px, 0px, 0px) !important;}


/* msec-custom */
.msec-custom{position:relative; padding:40px 0px;}
.msec-custom:before{position:absolute; left:50%; top:0px; width:2000px; margin-left:-1000px; height:100%; background:#f2f2f2; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; display:block; content:""; z-index:-1}

.msec-custom .title{font-size:24px; color:#222; font-weight:600; text-align:center; line-height:120%; margin-bottom:20px; font-family:'NanumSquare', sans-serif;}

.msec-custom .list{}
.msec-custom .list:after{clear:both;content:""; display:block;}
.msec-custom .list ul{margin:0px -6px;}
.msec-custom .list ul li{width:266px; margin:0px 6px; float:left; background:#fff;}
.msec-custom .list ul li a{border:1px solid #cecece; display:block; }
.msec-custom .list ul li .img{width:100%; height:171px; margin-bottom:18px; overflow:hidden; background:#000; display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-custom .list ul li .img img{width:100%; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-custom .list ul li .stxt{padding:0px 13px 10px 13px; font-size:12px; color:#656565; display:block; line-height:120%; letter-spacing:-0.03em;}
.msec-custom .list ul li .btxt{padding:0px 13px; margin-bottom:13px; font-size:16px; color:#222; display:block; line-height:140%; letter-spacing:-0.03em; font-weight:600; height:44px; overflow:hidden; word-break:keep-all;}
.msec-custom .list ul li .ctxt{padding:0px 13px; margin-bottom:13px; font-size:12px; color:#656565; line-height:150%; letter-spacing:-0.03em; display:block; height:0px; overflow:hidden;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-custom .list ul li .sum{padding:0px 13px; margin-bottom:17px; display:block; line-height:120%; letter-spacing:-0.03em; overflow:hidden;}
.msec-custom .list ul li .sum .fl{font-size:15px; color:#777; text-decoration:line-through;}
.msec-custom .list ul li .sum .fr{font-size:16px; color:#454545;}
.msec-custom .list ul li .sum .fr strong{font-size:19px; color:#ff0000; padding-right:2px;}

.msec-custom .list ul li a:hover{border:1px solid #fa7905;}
.msec-custom .list ul li a:hover .img{height:117px;}
.msec-custom .list ul li a:hover .ctxt{height:54px;}
.msec-custom .list ul li a:hover .img img{opacity:0.5;}

.msec-custom .list .nodata{text-align:center; font-size:18px; line-height:120%; padding:50px 0px;}

/* msec-best */
.msec-best{position:relative; padding:40px 0px;}
.msec-best .title{font-size:24px; color:#222; font-weight:600; text-align:center; line-height:120%; margin-bottom:20px; font-family:'NanumSquare', sans-serif;}

.msec-best .tabs{margin-bottom:22px; text-align:center; font-size:0px;}
.msec-best .tabs li{position:relative; display:inline-block;}
.msec-best .tabs li:before{position:absolute; top:50%; left:0px; width:1px; height:14px; margin-top:-7px; background:#e1e1e1; content:"";}
.msec-best .tabs li:first-child:before{display:none;}
.msec-best .tabs li a{display:block; color:#555; font-size:15px; padding:0px 22px; line-height:120%;}
.msec-best .tabs li a:hover{color:#fa7600;}
.msec-best .tabs li.active a{color:#fa7600; text-decoration:underline;}

.msec-best .list{display:none;}
.msec-best .list.show{display:block;}
.msec-best .list:after{clear:both;content:""; display:block;}
.msec-best .list ul{margin:0px -6px;}
.msec-best .list ul li{width:266px; margin:0px 6px; float:left;}
.msec-best .list ul li a{border:1px solid #cecece; display:block; }
.msec-best .list ul li .img{width:100%; height:171px; margin-bottom:18px; overflow:hidden; background:#000; display:block;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-best .list ul li .img img{width:100%; -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-best .list ul li .stxt{padding:0px 13px 10px 13px; font-size:12px; color:#656565; display:block; line-height:120%; letter-spacing:-0.03em;}
.msec-best .list ul li .btxt{padding:0px 13px; margin-bottom:13px; font-size:16px; color:#222; display:block; line-height:140%; letter-spacing:-0.03em; font-weight:600; height:44px; overflow:hidden; word-break:keep-all;}
.msec-best .list ul li .ctxt{padding:0px 13px; margin-bottom:13px; font-size:12px; color:#656565; line-height:150%; letter-spacing:-0.03em; display:block; height:0px; overflow:hidden;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.msec-best .list ul li .sum{padding:0px 13px; margin-bottom:17px; display:block; line-height:120%; letter-spacing:-0.03em; overflow:hidden;}
.msec-best .list ul li .sum .fl{font-size:15px; color:#777; text-decoration:line-through;}
.msec-best .list ul li .sum .fr{font-size:16px; color:#454545;}
.msec-best .list ul li .sum .fr strong{font-size:19px; color:#ff0000; padding-right:2px;}

.msec-best .list ul li a:hover{border:1px solid #fa7905;}
.msec-best .list ul li a:hover .img{height:117px;}
.msec-best .list ul li a:hover .ctxt{height:54px;}
.msec-best .list ul li a:hover .img img{opacity:0.5;}

.msec-best .list .nodata{text-align:center; font-size:18px; line-height:120%; padding:50px 0px;}

/* msec-popul */
.msec-popul{position:relative; padding:40px 0px;}
.msec-popul:before{position:absolute; left:50%; top:0px; width:2000px; margin-left:-1000px; height:100%; background:#fffbf2; border-top:1px solid #ffdca5; border-bottom:1px solid #ffdca5; display:block; content:""; z-index:-1}

.msec-popul .title{font-size:24px; color:#222; font-weight:600; text-align:center; line-height:120%; margin-bottom:20px; font-family:'NanumSquare', sans-serif;}
.msec-popul .popul-slide{text-align:center; margin:0px -9px;}
.msec-popul .popul-slide li{margin:0px 9px; box-shadow:1px 1px 4px 1px rgb(0, 0, 0, 0.1); -webkit-box-shadow:1px 1px 4px 1px rgb(0, 0, 0, 0.1);}
.msec-popul .popul-slide li a{border:1px solid #cecece; display:block; background:#fff;}
.msec-popul .popul-slide li .stxt{padding:40px 30px 10px 30px; font-size:14px; color:#fa7600; display:block; line-height:120%; letter-spacing:-0.03em; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.msec-popul .popul-slide li .btxt{padding:0px 30px; margin-bottom:20px; font-size:23px; color:#222; display:block; line-height:120%; letter-spacing:-0.03em; font-weight:600; overflow:hidden; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.msec-popul .popul-slide li .sum{padding:0px 50px; margin-bottom:40px; display:block; line-height:120%; letter-spacing:-0.03em; overflow:hidden;}
.msec-popul .popul-slide li .sum .fl{font-size:15px; color:#777; text-decoration:line-through; display:block; line-height:120%; letter-spacing:-0.03em;}
.msec-popul .popul-slide li .sum .fr{font-size:16px; color:#454545; display:block; line-height:120%; letter-spacing:-0.03em;}
.msec-popul .popul-slide li .sum .fr strong{font-size:25px; color:#fa7600; padding-right:2px;}
.msec-popul .popul-slide li .img{width:100%; height:207px; overflow:hidden; display:block;}
.msec-popul .popul-slide li .img img{width:100%;}

.msec-popul .popul-slide li a:hover{border:1px solid #fa7905;}

.msec-popul .popul-slide .slick-prev{position:absolute; top:50%; left:-28px; z-index:1; width:44px; height:44px; margin-top:-24px; border:0px; border-radius:50%; font-size:0px; background:url(../_Img/Main/popul-slide-arrowL.png) no-repeat center rgba(255,255,255,0.8); box-shadow:1px 1px 4px 1px rgb(0, 0, 0, 0.3); -webkit-box-shadow:1px 1px 4px 1px rgb(0, 0, 0, 0.3);}
.msec-popul .popul-slide .slick-next{position:absolute; top:50%; right:-28px; z-index:1; width:44px; height:44px; margin-top:-24px; border:0px; border-radius:50%; font-size:0px; background:url(../_Img/Main/popul-slide-arrowR.png) no-repeat center rgba(255,255,255,0.8); box-shadow:1px 1px 4px 1px rgb(0, 0, 0, 0.3); -webkit-box-shadow:1px 1px 4px 1px rgb(0, 0, 0, 0.3);}

.msec-popul .popul-slide .slick-dots{font-size:0px; margin-top:20px;}
.msec-popul .popul-slide .slick-dots li{padding-top:0px; margin:0px 3px; display:inline-block; box-shadow:none; -webkit-box-shadow:none;}
.msec-popul .popul-slide .slick-dots li:before{display:none;}
.msec-popul .popul-slide .slick-dots li button{width:13px; height:13px; border:0px; background:#d2d2d2; font-size:0px; border-radius:50%;}
.msec-popul .popul-slide .slick-dots li.slick-active button{background:#ea5907;}

/* msec-banners */
.msec-banners{position:relative; padding:40px 0px;}
.msec-banners:after{clear:both; content:""; display:block;}
.msec-banners:before{position:absolute; left:50%; top:0px; width:2000px; margin-left:-1000px; height:100%; border-bottom: 1px solid #d7d7d7; display:block; content:""; z-index:-1}

.msec-banners .m-banner{width:544px; float:left;}
.msec-banners .m-banner .img{width:100%; overflow:hidden; }
.msec-banners .m-banner .img img{width:100%; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.msec-banners .m-banner .img:hover img{width:100%; opacity:0.8; transform:scale(1.1, 1.1); -webkit-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); -ms-transform:scale(1.1, 1.1);}

.msec-banners .s-banners{width:544px; float:right;}
.msec-banners .s-banners .banner-slide{margin-bottom:12px;}
.msec-banners .s-banners .banner-slide ul{}
.msec-banners .s-banners .banner-slide ul li img{-webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.msec-banners .s-banners .banner-slide ul li:hover img{opacity:0.8; transform:scale(1.1, 1.1); -webkit-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); -ms-transform:scale(1.1, 1.1);}

.msec-banners .s-banners .s-banner{width:100%; overflow:hidden; }
.msec-banners .s-banners .s-banner img{width:100%; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.msec-banners .s-banners .s-banner:hover img{width:100%; opacity:0.8; transform:scale(1.1, 1.1); -webkit-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); -ms-transform:scale(1.1, 1.1);}

.msec-banners .s-banners .banner-slide ul .slick-dots{position:absolute; bottom:12px; left:22px; font-size:0px;}
.msec-banners .s-banners .banner-slide ul .slick-dots li{margin:0px 3px; display:inline-block; overflow:auto}
.msec-banners .s-banners .banner-slide ul .slick-dots li:before{display:none;}
.msec-banners .s-banners .banner-slide ul .slick-dots li button{width:10px; height:10px; border:0px; background:#fff; font-size:0px; border-radius:50%;}
.msec-banners .s-banners .banner-slide ul .slick-dots li.slick-active button{background:#ea5907;}

/* msec-tip */
.msec-tip{position:relative; padding:40px 0px;}
.msec-tip:after{clear:both;content:""; display:block;}

.msec-tip .epil{position:relative; width:357px; padding:19px 25px; border:1px solid #cdcdcd; margin-right:15px; float:left; box-sizing:border-box}
.msec-tip .epil .tit{font-size:18px; color:#000; font-family:'NanumSquare',sans-serif; font-weight:600; margin-bottom:12px; letter-spacing:-0.02em; line-height:120%;}
.msec-tip .epil .img-txt{}
.msec-tip .epil .img-txt .img{width:100%; display:block; margin-bottom:12px;}
.msec-tip .epil .img-txt .img img{width:100%;}
.msec-tip .epil .img-txt .stxt{font-size:13px; color:#fa7600; display:block; letter-spacing:-0.02em; line-height:120%; margin-bottom:5px;}
.msec-tip .epil .img-txt .btxt{font-size:16px; color:#454545; display:block; letter-spacing:-0.02em; line-height:120%; margin-bottom:10px; font-weight:600; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.msec-tip .epil .img-txt .ctxt{font-size:12px; color:#777777; display:block; letter-spacing:-0.02em; line-height:120%;}
.msec-tip .epil .img-txt:hover .btxt{color:#fa7600;}
.msec-tip .epil .img-txt:hover .ctxt{color:#fa7600;}
.msec-tip .epil .more-btn{position: absolute; top:19px; right:25px; width:21px; height:21px; display:block; border:1px solid #cdcdcd; background:url(../_Img/Main/more-icon.png) no-repeat center;}

.msec-tip .kind{position:relative; width:357px; margin-right:14px; border:1px solid #cdcdcd; float:left; box-sizing:border-box}
.msec-tip .kind .tit{font-size:18px; color:#000; font-family:'NanumSquare',sans-serif; font-weight:600; letter-spacing:-0.02em; line-height:120%; padding:19px 0px 0px 25px;}
.msec-tip .kind .list li{position:relative; padding:18px 25px 20px 120px; background:url(../_Img/Main/dotted-line.jpg) repeat-x top left;}
.msec-tip .kind .list li:first-child{background:none;}

.msec-tip .kind .list li a{display:block;}
.msec-tip .kind .list li .img{position:absolute; top:16px; left:23px; width:86px; height:86px; display:block; border-radius:50%; overflow:hidden;}
.msec-tip .kind .list li .img img{width:100%; height:100%;}
.msec-tip .kind .list li .stxt{font-size:15px; color:#444; letter-spacing:-0.02em; line-height:120%; margin-bottom:7px; display:block;}
.msec-tip .kind .list li .btxt{font-size:12px; color:#787878; letter-spacing:-0.02em; line-height:130%; margin-bottom:10px; height:32px; display:block; overflow:hidden;}
.msec-tip .kind .list li .ctxt{font-size:12px; color:#353535; letter-spacing:-0.02em; line-height:120%; display:block;}
.msec-tip .kind .list li a:hover .stxt{color:#fa7600;}
.msec-tip .kind .list li a:hover .btxt{color:#fa7600;}
.msec-tip .kind .list li a:hover .ctxt{color:#fa7600;}

.msec-tip .kind .more-btn{position: absolute; top:19px; right:25px; width:21px; height:21px; display:block; border:1px solid #cdcdcd; background:url(../_Img/Main/more-icon.png) no-repeat center;}

.msec-tip .video{width:357px; float:left;}
.msec-tip .video .thum{position:relative; width:100%; height:239px; overflow:hidden; display:none; margin-bottom:5px;}
.msec-tip .video .thum.show{display:block;}
.msec-tip .video .thum:before{position:absolute; top:50%; left:50%; z-index:1; width:86px; margin-left:-43px; height:86px; margin-top:-43px; display:block; background:url(../_Img/Main/play-icon.png) no-repeat center; content:"";}
.msec-tip .video .thum img{width:100%; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.msec-tip .video .thum:hover img{opacity:0.8; transform:scale(1.1, 1.1); -webkit-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); -ms-transform:scale(1.1, 1.1);}
.msec-tip .video .btns{overflow:hidden; display:block;}
.msec-tip .video .btns li .btn{width:175px; text-align:center; line-height:37px; background:#4d4d4d; font-size:13px; color:#fff; letter-spacing:-0.03em; display:block;}
.msec-tip .video .btns li.active .btn{background:#01a75d;}


/* msec-cust */
.msec-cust{position:relative; padding:40px 0px;}
.msec-cust:before{position:absolute; left:50%; top:0px; width:2000px; margin-left:-1000px; height:100%; background:#f2f2f2; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; display:block; content:""; z-index:-1;}

.msec-cust .title{font-size:24px; color:#222; font-weight:600; line-height:120%; font-family:'NanumSquare', sans-serif;}
.msec-cust .title a{color:#ea5907; display:inline-block; font-size:12px; margin-left:10px; text-decoration:underline;}
.msec-cust .title a span{font-size:8px; padding-left:3px; display:inline-block; vertical-align:top;}

.msec-cust .time-btns{overflow:hidden; margin-bottom:20px;}
.msec-cust .time-btns .time{float:left; font-size:15px; color:#555; line-height:120%; margin-top:13px;}
.msec-cust .time-btns .btns{float:right; font-size:0px;}
.msec-cust .time-btns .btns .btn{display:inline-block; line-height:28px; border:1px solid #cfcfcf; background:#fff; color:#333; padding:0px 11px; margin-left:5px; font-size:13px;}
.msec-cust .time-btns .btns .btn strong{color:#ea5907; padding-right:3px;}
.msec-cust .time-btns .btns .btn.active{border-color:#ea5907;}
.msec-cust .time-btns .btns .btn:hover{border-color:#ea5907;}

.msec-cust .tel-lists{overflow:hidden; border:1px solid #cdcdcd; background:#fff;}

.msec-cust .tel-lists .seoul{position:relative; padding:20px 25px; float:left; width:66.666666666%; box-sizing:border-box;}
.msec-cust .tel-lists .seoul:before{position:absolute; right:0px; top:1px; width:1px; height:100%; background:#ddd; content:"";}

.msec-cust .tel-lists .busan{ padding:20px 25px; float:right; width:33.333333333%; box-sizing:border-box;}

.msec-cust .tel-lists .tit{position:relative; font-size:17px; color:#454545; padding-left:13px; line-height:120%; margin-bottom:25px;}
.msec-cust .tel-lists .tit:before{position:absolute; left:0px; top:7px; width:5px; height:5px; background:#454545; content:"";}
.msec-cust .tel-lists .tit strong{padding-right:4px;}

.msec-cust .tel-lists .lists{overflow:hidden;}
.msec-cust .tel-lists .lists .list li{overflow:hidden; margin-bottom:12px; font-size:14px; line-height:120%; letter-spacing:-0.02em;}
.msec-cust .tel-lists .lists .list li:last-child{margin-bottom:0px;}
.msec-cust .tel-lists .lists .list li .btxt{float:left; color:#333;}
.msec-cust .tel-lists .lists .list li .tel{float:right; color:#222; font-weight:600;}

.msec-cust .tel-lists .seoul .lists .list{position:relative; width:50%; float:left;}
.msec-cust .tel-lists .seoul .lists .list:before{position:absolute; right:0px; top:1px; width:1px; height:100%; background:#ddd; content:"";}
.msec-cust .tel-lists .seoul .lists .list:last-child:before{display:none;}
.msec-cust .tel-lists .seoul .lists .list li{padding:0px 30px;}
.msec-cust .tel-lists .seoul .lists .list:first-child li{padding-left:0px;}
.msec-cust .tel-lists .seoul .lists .list:last-child li{padding-right:0px;}

/* msec-adver */
.msec-adver{}
.msec-adver{position:relative; overflow:hidden;}
.msec-adver:before{position:absolute; left:50%; top:0px; width:1px; height:100%; background:#cdcdcd; content:"";}

.msec-adver .app{width:50%; height:111px; float:left; position:relative; padding-left:190px; box-sizing:border-box; font-family:'NanumSquare', sans-serif;}
.msec-adver .app a{display:block; width:100%; height:100%;}
.msec-adver .app .btxt{position:absolute; top:45px; left:32px; font-size:18px; color:#222; font-weight:600; letter-spacing:-0.03em;}
.msec-adver .app .stxt{position:relative; padding:33px 0px 0px 69px; line-height:150%; font-size:14px; display:block; color:#333; font-weight:600;}
.msec-adver .app .stxt:before{position:absolute; left:0px; top:25px; width:58px; height:58px; background:url(../_Img/Main/app-icon.png) no-repeat center; content:"";}
.msec-adver .app .stxt strong{color:#fa7600; font-weight:600;}
.msec-adver .app .stxt i{display:inline-block; background:#ea5907; line-height:120%; padding:2px 8px; color:#fff; font-size:11px; vertical-align:top; margin-left:5px;}

.msec-adver .banner{width:50%; height:111px; float:right; font-family:'NanumSquare', sans-serif;}
.msec-adver .banner a{display:block; width:100%; height:100%;}
.msec-adver .banner .btxt{position:relative; padding:34px 300px 0px 50px; font-size:17px; color:#333; font-weight:600; display:block; line-height:120%;}
.msec-adver .banner .btxt:before{position:absolute; right:60px; top:14px; width:229px; height:79px; background:url(../_Img/Main/banner-icon-sam.png) no-repeat center; content:"";}

/* layer-wrap.app */
.layer-wrap.app{position:absolute; width:438px; border:1px solid #717171; padding:20px 30px; display:none; background:#fff; box-sizing:border-box;}
.layer-wrap.app .title{font-size:20px; color:#000; font-weight:600; margin-bottom:10px; line-height:120%; letter-spacing:-0.03em;}
.layer-wrap.app .btxt{font-size:15px; color:#333; margin-bottom:10px; line-height:120%; letter-spacing:-0.03em;}
.layer-wrap.app .input-btn{position:relative; box-sizing:border-box; padding-right:97px; margin-bottom:10px;}
.layer-wrap.app .input-btn input[type="text"]{width:100%;}
.layer-wrap.app .input-btn .btn{position:absolute; top:0px; right:0px; width:97px; display:block; line-height:34px; background:#006638; font-size:15px; font-weight:600; text-align:center; color:#fff;}
.layer-wrap.app .stxt{font-size:13px; color:#333; margin-bottom:20px;}
.layer-wrap.app .list{border:1px solid #dedede; background:#f2f2f2; padding:15px 10px; margin-bottom:15px;}
.layer-wrap.app .list ul li{position:relative; padding-left:10px; font-size:12px; color:#333; line-height:140%; margin-bottom:3px;}
.layer-wrap.app .list ul li:last-child{margin-bottom:0px;}
.layer-wrap.app .list ul li:before{position:absolute; left:0px; top:6px; width:5px; height:1px; background:#333; content:"";}
.layer-wrap.app .close-btn{position:absolute; top:18px; right:23px; display:block; width:30px; height:30px; background:url(../_Img/Main/close-btn01.png) no-repeat center;}



