@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');

/* ---------------------------------
RESET CSS
--------------------------------- */
html, body,
div, p, span, strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6, img, dl, dt, dd,
fieldset, form, legend, label, table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea, button{margin:0; padding:0; border:0 none; font-family:'Noto Sans KR', AppleGothic, sans-serif, Arial; font-size:14px; font-weight:400; line-height:1; letter-spacing:-0.02em;}
ul, ol, li{list-style:none;}
em, address{font-style:normal;}
img{width:100%; border:0 none; font-size:0; line-height:0;}
sup{position:relative; top:2px; font-size:11px; line-height:100%;}
table{border-collapse:collapse; border-spacing:0;}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
th, td{vertical-align:middle; /* white-space: nowrap */}
a{color:#333; text-decoration:none; line-height:1;}
a:hover, a:focus, a:active{text-decoration:none;}
a:visited{color:#333;}
*, html{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
*, *:before, *:after{box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
button{background:none; border:none;}
input{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
textarea{-webkit-appearance:none; -moz-appearance:none; appearance:none;}


/* ---------------------------------
FORM CSS
--------------------------------- */
/* placeholder */
input::placeholder{font-family:'Noto Sans KR', AppleGothic, sans-serif, Arial; font-size:14px; color:#b4b4b4; opacity: 1;} /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
input::-webkit-input-placeholder{font-family:'Noto Sans KR', AppleGothic, sans-serif, Arial; font-size:14px; color:#b4b4b4;} /* IE */
input:-ms-input-placeholder{font-family:'Noto Sans KR', AppleGothic, sans-serif, Arial; font-size:14px; color:#b4b4b4;} /* Firefox */
input:-mos-input-placeholder{font-family:'Noto Sans KR', AppleGothic, sans-serif, Arial; font-size:14px; color:#b4b4b4;}

/* input */
.ipt_text{position:relative; display:block;}
.ipt_text input{width:100%; height:40px; padding:5px 10px; background:#f5f5f5; border:1px solid #f5f5f5; border-radius:5px; color:#171717; line-height:40px;}
.ipt_text input:-moz-read-only{background:#fff; border:1px solid #e1e1e1;} /* For Firefox */
.ipt_text input:read-only{background:#fff; border:1px solid #e1e1e1;}
.ipt_text input:-moz-read-only:focus{border-color:#e1e1e1;} /* For Firefox */
.ipt_text input:read-only:focus{border-color:#e1e1e1;}
.ipt_text input:focus{outline:none; border-color:#068bf2; background:#fff;}
.ipt_text input:disabled{background:#fff; border:1px solid #e1e1e1; opacity:1; -webkit-text-fill-color:inherit}

/* input_search */
.search_input_box{position:relative;}
.search_input_box + .search_input_box{margin-top:3px;}
.search_input_box .ipt_text input{height:42px; padding-left:40px; background:#fff; border-radius:10px; line-height:40px;}
.search_input_box .ipt_text:before{content:''; position:absolute; left:10px; top:50%; width:20px; height:20px; margin-top:-10px; background: url(../images/icon_search_spr.png) no-repeat 0 0; background-size:20px auto;}
.search_input_box .ipt_text.focus:before{background-position:0 -20px;}
.search_input_box .btn_keyword_del{position:absolute; right:10px; top:50%; width:20px; height:20px; margin-top:-10px; background:url(../images/icon_delete.png) no-repeat 0 0; background-size:20px; text-indent:-9999px; display:none;}

/* input_checkbox */
.ipt_chk{position:relative; display:inline-block; margin-top:2px;}
.ipt_chk input{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.ipt_chk input + label{display:inline-block; position:relative; font-size:13px; color:#636363; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.ipt_chk input + label:before{content:''; display:inline-block; width:12px; height:12px; margin:-2px 5px 0 0; background: url(../images/icon_check_spr.png) no-repeat 0 0; background-size:12px auto; line-height:12px; vertical-align:middle;}
.ipt_chk input:checked + label{color:#068bf2;}
.ipt_chk input:checked + label:before{background-position:0 -12px; border-color:#068bf2;}
.ipt_chk input:disabled + label{color:#d2d2d2;}
.ipt_chk input:disabled + label:before{background:#e6e6e6;}

.ipt_chk.type2 input + label{font-size:14px; color:#9d9d9d;}
.ipt_chk.type2 input + label:before{background-image:url(../images/icon_check2_spr.png);}
.ipt_chk.type2 input:checked + label{color:#444;}

/* input_radio */
.ipt_radio{position:relative; display:inline-block; margin-top:2px;}
.ipt_radio + .ipt_radio{margin-left:20px;}
.ipt_radio input{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.ipt_radio input + label{display:inline-block; position:relative; font-size:14px; color:#858585; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.ipt_radio input + label:before{content:''; display:inline-block; width:12px; height:12px; margin:-2px 5px 0 0; background: url(../images/icon_radio_spr.png) no-repeat 0 0; background-size:12px auto; line-height:14px; vertical-align:middle;}
.ipt_radio input:checked + label{color:#000;}
.ipt_radio input:checked + label:before{background-position:0 -12px;}

.ipt_radio.type2 input + label:before{width:18px; height:18px; margin:-2px 5px 0 0; background: url(../images/icon_radio2_spr.png) no-repeat 0 0; background-size:18px auto;}
.ipt_radio.type2 input:checked + label:before{background-position:0 -18px;}

/*11.11추가*/
.ipt_radio.type3 input + label{border-radius:5px 0 0 5px;}
.ipt_radio.type3:nth-of-type(2) input + label{border-radius:0 5px 5px 0;}
.ipt_radio.type3:nth-of-type(2) input:checked + label{border-radius:5px;}
.ipt_radio.type3, .ipt_radio.type3 + .ipt_radio{margin:0; width:50%; float:left;}
.ipt_radio.type3 input + label{background:#f5f5f5; width: 100%; height: 40px; border-radius: 5px; color: #858585; line-height: 40px; text-align:center;}
.ipt_radio.type3 input:checked + label{background:#068bf2; color:#fff;}
.ipt_radio.type3 input + label:before{display:none;}
/*//11.11추가*/

/* select */
.select_box{display:inline-block; width:100%; height:40px; padding:3px 0; background:#f5f5f5; border-radius:5px;}
.select_box select{width:100%; height:34px; padding:0 10px; border:0 none; -webkit-appearance:none; -moz-appearance:none; appearance:none; background: url(../images/icon_select_arrow.png) no-repeat 94% 50%; background-size:11px; font-size:14px; color:#181818;}
.select_box select::-ms-expand{display:none;}

/* textarea */
.textarea_box{display:block; width:100%; min-height:40px; padding:10px; background:#f5f5f5; border-radius:5px; color:#171717; resize:none;}
.textarea_box:-moz-read-only{background:#fff; border:1px solid #e1e1e1;} /* For Firefox */
.textarea_box:read-only{background:#fff; border:1px solid #e1e1e1;}
.textarea_box:read-only:focus{border-color:#e1e1e1;}
.textarea_box:focus{outline:none; border:1px solid #068bf2; background:#fff;}
.textarea_box:disabled{background:#fff; border:1px solid #e1e1e1; opacity:1; -webkit-text-fill-color:inherit}


/* ---------------------------------
LAYOUT CSS
--------------------------------- */
html, body{height:100%;}

/* 헤더 */
#header{position:fixed; left:0; top:0; width:100%; height:50px; background:#fff; z-index:99; transition-duration: .4s;}
.header_wrap{position:relative; height:50px; text-align:center;}
.header_wrap h1{width:88px; margin:0 auto; padding:8px 0;}
.header_wrap h1 img{width:88px; height:33px;}
.header_wrap h1 a{display:inline-block;}
.header_wrap > a{position:absolute; top:50%; width:30px; height:30px; margin-top:-15px;}
.header_wrap > a span{display:inline-block; width:30px; height:30px; background:url(../images/icon_common_spr.png) no-repeat 0 0; background-size:100px auto; text-indent:-9999px;}
.header_wrap .btn_left_menu{left:10px;}
.header_wrap .btn_left_menu span{background-position:5px 7px;}
.header_wrap .btn_reserve{right:10px;}
.header_wrap .btn_reserve span{background-position:-35px 5px;}
.header_wrap .btn_reserve em{position:absolute; right:-2px; top:-2px; width:15px; height:15px; background:#ff0000; border-radius:50%; font-size:11px; color:#fff; text-align:center; line-height:15px;}

/* 레프트 메뉴 */
.lnb_menu_wrap{position:fixed; left:-100%; top:0; bottom:0; width:100%; background:#fff; z-index:9999; overflow-y:scroll;}
.lnb_menu_wrap .btn_close{position:absolute; right:10px; top:10px;}
.lnb_menu_wrap .btn_close span{display:block; width:30px; height:30px; background:url(../images/icon_common_spr.png) no-repeat 0 -140px; background-size:100px auto; text-indent:-9999px;}

.lnb_menu_wrap .my_info{padding:15px 20px; background:#068bf2; color:#fff;}
.lnb_menu_wrap .my_info .user a{display:inline-block; min-width:45px; padding:0 8px; background:#a0d3fa; border-radius:3px; text-align:center;}
.lnb_menu_wrap .my_info .user a span{display:inline-block; font-size:13px; color:#068bf2; line-height:22px;}
.lnb_menu_wrap .my_info .user strong{display:inline-block; margin-right:5px; font-size:17px; font-weight:500; line-height:22px; vertical-align:top;}
.lnb_menu_wrap .my_info .user .id{display:block; margin-top:5px; font-size:17px;}
.lnb_menu_wrap .my_info .txt{display:inline-block; padding:0 5px; font-size:17px; color:#fff; line-height:44px;}

.lnb_menu_wrap .lnb{overflow:hidden; background:#fff;}
.lnb_menu_wrap .lnb li{position:relative; border-bottom:1px solid #dde2e6;}
.lnb_menu_wrap .lnb li a{display:block; padding:0 20px; line-height:45px;}
.lnb_menu_wrap .lnb li a:after{content:''; position:absolute; right:20px; top:50%; width:8px; height:14px; margin-top:-7px; background:url(../images/icon_common_spr.png) no-repeat -60px -140px; background-size:100px auto;}
.lnb_menu_wrap .lnb li span{font-size:15px; font-weight:500; color:#656c72;}

.lnb_menu_wrap .my_menu .link{overflow:hidden; border-bottom:1px solid #dde2e6;}
.lnb_menu_wrap .my_menu .link a{float:left; width:50%; padding:0 20px;}
.lnb_menu_wrap .my_menu .link a + a{border-left:1px solid #dde2e6;}
.lnb_menu_wrap .my_menu .link a > *{display:inline-block; font-size:15px; font-weight:500; color:#656c72; line-height:45px;}
.lnb_menu_wrap .my_menu .link em{float:right; color:#068bf2; text-align:right;}

.lnb_menu_wrap .cs_menu{padding:12px 0; background:#f6f6f6;}
.lnb_menu_wrap .cs_menu .lnb{border-top:1px solid #dde2e6;}

.lnb_menu_wrap .naeil_family ul{overflow:hidden; border-top:1px solid #dde2e6;}
.lnb_menu_wrap .naeil_family li{position:relative; float:left; width:50%; border-bottom:1px solid #dde2e6;}
.lnb_menu_wrap .naeil_family li:nth-child(even){border-left:1px solid #dde2e6;}
.lnb_menu_wrap .naeil_family li:before{content:''; position:absolute; left:20px; top:50%; width:22px; height:22px; margin-top:-11px; background:url(../images/icon_naeil_spr.png) no-repeat 0 0; background-size:auto 22px;}
.lnb_menu_wrap .naeil_family a{display:block; padding:0 20px 0 50px; line-height:45px;}
.lnb_menu_wrap .naeil_family span{font-size:15px; font-weight:500; color:#656c72; line-height:16px;}
.lnb_menu_wrap .naeil_family li:nth-child(3) a{padding:7px 20px 6px 50px; line-height:1;}
.lnb_menu_wrap .naeil_family li:nth-child(2):before{background-position:-30px 0;}
.lnb_menu_wrap .naeil_family li:nth-child(3):before{background-position:-60px 0;}
.lnb_menu_wrap .naeil_family li:nth-child(4):before{background-position:-90px 0;}
.lnb_menu_wrap .naeil_family li:nth-child(5):before{background-position:-120px 0;}
.lnb_menu_wrap .naeil_family li:nth-child(6):before{background-position:-150px 0;}

/* 푸터 */
#footer{position:relative; background:#fff;}
.footer_sns_wrap{height:50px; border-top:1px solid #d0d0d0; padding:0 15px; text-align:center;}
.sns_list{overflow:hidden;}
.sns_list li{width:16.666666%; padding:8px 0; float:left;}
.sns_list li a{display:inline-block; width:34px; height:34px; background-color:#7c7c7c; border-radius:50%; margin:0 5px; text-align:center;}
.sns_list li.sns_facebook a img{width:8px; height:17px; margin-top:9px;}
.sns_list li.sns_insta a img{width:16px; height:17px; margin-top:8px;}
.sns_list li.sns_kas a img{width:7px; height:13px; margin-top:11px;}
.sns_list li.sns_kakao a img{width:26px; height:7px; margin-top:13px;}
.sns_list li.sns_blog a img{width:23px; height:10px; margin-top:12px;}
.sns_list li.sns_youtube a img{width:20px; margin-top:10px;}
.sns_list li.sns_post a img{width:20px; margin-top:8px;}
.footer_bottom_wrap{border-top:1px solid #d0d0d0;}
.footer_menu{height:42px; text-align:center;}
.footer_menu ul{overflow:hidden; font-size:0; text-align:center;}
.footer_menu ul li{position:relative; display:inline-block;}
.footer_menu ul li + li:before{content:''; display:block; width:1px; height:11px; background:#000; position:absolute; left:0; top:16px;}
.footer_menu ul li a{display:inline-block; padding:0 7px; line-height:42px; font-size:12px; color:#1b1a1a;}
.footer_menu ul li a strong{font-size:12px; font-weight:700;}
.footer_info{padding:0 20px; margin-top:5px; color:#535456;}
.footer_info h1{width:120px;}
.footer_info h1 img{max-width:100%;}
.footer_info .footer_address{line-height:1.5; padding-top:15px; font-size:11px; color:#535456;}
.footer_info .footer_copyright{padding-bottom:8px; color:#a1a1a1; line-height:2; font-size:11px; letter-spacing:-0.05em;}

/* 컨테이너 */
.container{min-height:450px; padding-top:50px;}
.container .inner{padding:20px;}
.container .section_type_01{background:#f5f5f5;}
.container .section_type_01:before{content:''; position:absolute; left:0; right:0; top:0; bottom:0; background:#f5f5f5; z-index:-1;}
.container .section_type_02{background:#fff;}
.container .section_type_03{position:relative; padding:30px 20px 20px; background:#fff;}
.container .section_type_03:before{content:''; position:absolute; left:0; right:0; top:0; height:10px; background:#f5f5f5;}

/* 상단 고정 타이틀 */
.section_top_title{position:fixed; left:0; right:0; top:0; height:50px; background:#fff; border-bottom:1px solid #e3e3e3; z-index:10; transition-duration: .4s;}
.section_top_title h1{padding:15px 0; font-size:18px; font-weight:500; color:#27282c; text-align:center;}
.section_top_title .btn_back{position:absolute; left:10px; top:10px;}
.section_top_title .btn_back span{display:block; width:30px; height:30px; background:url(../images/icon_arrow_left.png) no-repeat center center; background-size:18px; text-indent:-9999px;}
.section_top_title .btn_close{position:absolute; left:10px; top:10px;}
.section_top_title .btn_close span{display:block; width:30px; height:30px; background:url(../images/icon_btn_close.png) no-repeat center; background-size:16px; text-indent:-9999px;}
.section_top_title .btn_search{position:absolute; right:15px; top:50%; margin-top:-10px;}
.section_top_title .btn_search span{display:block; width:20px; height:20px; background: url(../images/icon_search_spr.png) no-repeat 0 0; background-size:20px auto; text-indent:-9999px;}

/* 헤더, 타이틀 스크롤 픽스 */
.container.type2{padding-top:100px; transition-duration: .4s;}
.container.type2 .section_top_title{top:50px; border-top:1px solid #e3e3e3;}
#wrap.fixed #header{top:-50px;}
#wrap.fixed .section_top_title{top:0px;}
#wrap.fixed .container{padding-top:50px;}


/* ---------------------------------
공통 컨텐츠 CSS
--------------------------------- */
/* 버튼 */
.btn_type_common{overflow:hidden; text-align:center;}
.btn_type_common button, .btn_type_common a{display:block; width:100%; background:#068bf2; border-radius:5px; font-size:16px; color:#fff; line-height:40px;}
.btn_type_common button + button, .btn_type_common a + a{margin-top:5px;}
.btn_type_common button span{color:#fff;}
.btn_type_common.col2{margin:0 -1%;}
.btn_type_common.col2 > *{float:left; width:48%; margin:0 1%;}
.btn_type_common .btn_small{display:inline-block; width:90px; font-size:15px;}
.btn_type_common .btn_light{background:#c1c1c1; color:#fff;}

.btn_type_more button{display:block; width:100%; background:#f2f2f2; border-radius:5px; text-align:center;}
.btn_type_more button span{display:inline-block; font-size:15px; color:#7c8083; line-height:40px;}
.btn_type_more button span:before{content:'+'; display:inline-block; margin-right:5px; vertical-align:top;}

.section_type_01 .btn_type_more{margin-top:20px;}
.section_type_01 .btn_type_more button{background:#fff}

/* 탭 */
.tab_type_common ul{overflow:hidden; background:#fff;}
.tab_type_common li{position:relative; float:left; border-bottom:1px solid #c8c8c8; text-align:center; cursor:pointer;}
.tab_type_common li span{color:#8c9195; line-height:35px;}
.tab_type_common li.on:after{content:''; position:absolute; left:0; right:0; bottom:-1px; height:2px; background:#078bf1;}
.tab_type_common li.on span{color:#078bf1;}
.tab_type_common .col2 li{width:50%;}
.tab_type_common .col3 li{width:33.33%;}
.tab_type_common .col3 li:first-child{width:33.34%;}
.tab_type_common .col4 li{width:25%;}
.tab_type_common .col6 li{width:16%; cursor:pointer;}
.tab_type_common .col6 li:nth-child(5){width:20%;}

.tab_contents .cont{display:none;}
.tab_contents .cont.active{display:block;}

/* 별 등급 */
.grade{position:relative; overflow:hidden; display:inline-block; margin-top:2px; vertical-align:middle;}
.grade, .grade em{width:60px; height:15px; background:url(../images/icon_grade_spr.png) no-repeat 0 0; background-size:auto 30px;}
.grade em{position:absolute; left:0; top:0; background-position:0 -15px; text-indent:-9999px;}

/* 금액 */
.price{margin-top:8px; text-align:right;}
.price span{font-size:17px; line-height:18px;}
.price .before{color:#aaa; text-decoration:line-through;}
.price .before:after{content:'→'; display:inline-block; vertical-align:top; line-height:18px;}
.price .after{font-weight:700; color:#ff0000;}
.price .after em{display:inline-block; margin-left:5px; font-size:10px;}
.price > p{margin-top:5px; font-size:12px; color:#aaa;}

/* 리뷰 */
.review_list li{position:relative; padding:15px 0 15px 50px; border-top:1px solid #e9e9e9;}
.review_list dl{margin-top:10px; font-size:0;}
.review_list dd{margin:0 5px 0 3px;}
.review_list li span, .review_list dl > *{display:inline-block; font-size:13px; color:#838383;}
.review_list .score{position:absolute; left:0; top:15px; width:40px; height:40px; background:#ecf4fa; border-radius:50%; line-height:40px; font-weight:700; color:#474e51; text-align:center;}
.review_list .txt{margin-bottom:10px; font-weight:500; color:#181818; line-height:18px;}
.review_list .name + span:before{content:'|'; display:inline-block; margin:1px 5px; font-size:10px; vertical-align:top;}

/* 일반 리스트 페이지 */
.list_type_common{background:#fff;}
.list_type_common .search_box{position:relative; padding:20px;}
.list_type_common .search_box .search{overflow:hidden; width:calc(100% - 70px);}
.list_type_common .search_box .search .select_box{float:left; width:33%;}
.list_type_common .search_box .search .select_box select{background-position:86% 50%;}
.list_type_common .search_box .search .ipt_text{float:right; width:65%;}
.list_type_common .search_box .search .ipt_text input{border-radius:5px 0 0 5px;}
.list_type_common .search_box .btn_type_common{position:absolute; right:20px; top:20px;}
.list_type_common .search_box .btn_type_common button{width:70px; border-radius:0 5px 5px 0;}

.list_type_common .search_box.type2 .search .ipt_text{float:none; width:100%;}
.list_type_common .search_box.type2 > .select_box{margin-top:5px;}

.list_type_common .list ul{border-top:1px solid #ebebeb;}
.list_type_common .list li{position:relative; padding:15px 20px; border-bottom:1px solid #ebebeb;}
.list_type_common .list li a{display:block;}
.list_type_common .list li span{display:inline-block; font-size:13px; font-weight:300; color:#777;}
.list_type_common .list li span + span:before{content:''; display:inline-block; width:1px; height:12px; margin:1px 5px 0 3px; background:#ccc; vertical-align:top;}
.list_type_common .list .tit{margin-bottom:8px; font-size:15px; color:#333; line-height:20px;}
.list_type_common .list .lock .tit:before{content:''; display:inline-block; width:14px; height:14px; margin:3px 5px 0 0; background:url(../images/icon_lock.png) no-repeat 0 0; vertical-align:top;}
.list_type_common .list .answer{position:absolute; right:20px; bottom:13px; color:#ff7e00;}
.list_type_common .list .answer:before{content:''; display:inline-block; width:13px; height:13px; margin:3px 5px 0 0; background:url(../images/icon_check.png) no-repeat 0 0; background-size:13px; vertical-align:top;}

.list_type_common > .btn_type_more{padding:20px;}

/* 뷰 페이지 */
.view_type_common .view_title{padding:20px; position:relative; border-bottom:1px solid #ebebeb;}
.view_type_common .view_title::before{content:''; position:absolute; left:0; top:0; bottom:0; width:20px; background:#fff; z-index:9;}
.view_type_common .view_title h2{font-size:17px; color:#24272a; font-weight:500; padding-bottom:5px; line-height:20px;}
.view_type_common .view_title span{font-size:13px; color:#818181; font-weight:300; display:inline-block; margin-right:10px; position:relative; line-height:18px;}
.view_type_common .view_title span + span:before{content:''; display:block; width:1px; height:12px; background:#ccc; position:absolute; top:50%; left:-7px; margin-top:-6px;}
.view_type_common .view_inner{margin-bottom:10px; padding:20px; color:#333; line-height:22px;}
.view_type_common .view_inner > *{color:#333; line-height:22px;}
.view_type_common .btn_type_common{padding:20px 0 30px; border-top:1px solid #ebebeb;}

.view_type_common .view_answer{position:relative; padding:60px 20px 30px; line-height:22px;}
.view_type_common .view_answer > *{line-height:22px;}
.view_type_common .view_answer:before{content:'답변'; position:absolute; left:20px; top:0; width:45px; height:45px; background:#2a6edd; border-radius:50%; color:#fff; text-align:center; line-height:45px; z-index:1;}
.view_type_common .view_answer:after{content:''; position:absolute; left:20px; right:20px; top:22px; height:1px; background:#2a6edd;}

/* 등록 페이지 */
.input_type_common dl + dl{margin-top:15px;}
.input_type_common dt{color:#7e7e7e;}
.input_type_common dd{margin-top:8px;}
.input_type_common .dl_box{overflow:hidden; margin:15px -5px 0;}
.input_type_common .dl_box dl{float:left; margin-top:0; padding:0 5px;}
.input_type_common .dl_box.eng dl{width:40%;}
.input_type_common .dl_box.eng dl + dl{width:60%;}
/*11.11추가*/
.input_type_common .dl_box.kor dl{width:70%;}
.input_type_common .dl_box.kor dl + dl{width:30%;}
.input_type_common .dl_box.kor dl + dl dd{background:#f5f5f5; border-radius:5px; overflow:hidden;}
.input_type_common .dl_box.adult dl{width:30%;}
.input_type_common .dl_box.adult dl + dl{width:70%;}
.input_type_common .dl_box.adult dl dd{background:#f5f5f5; border-radius:5px;}
/*//11.11추가*/
.input_type_common .dl_box.col2 dl{width:50%;}
.input_type_common .tel_box{overflow:hidden;}
.input_type_common .tel_box .ipt_text{float:left; width:32%;}
.input_type_common .tel_box .ipt_text:nth-of-type(1){width:30%;}
.input_type_common .tel_box .select_box{float:left; width:30%;}
.input_type_common .tel_box .select_box select{background-position:88% 50%;}
.input_type_common .tel_box em{float:left; width:3%; text-align:center; line-height:34px; vertical-align:top;}

.write_type_common{padding:20px; background:#fff;}
.write_type_common .input_type_common dt{font-size:15px; color:#000;}
.write_type_common .ipt_text + .textarea_box{margin-top:5px;}
.write_type_common .btn_type_common{margin-top:20px;}
.write_type_common .lock{margin-top:10px;}
.write_type_common .lock .ipt_chk input + label{font-size:15px; color:#000;}
.write_type_common .lock .ipt_chk input + label:before{margin-top:-4px;}

/* 리스트 내역 없을 때 */
.txt_no_list{padding:50px 0; font-weight:500; color:#949494; text-align:center;}

/* 기본 테이블 */
.tbl_type_common{width:100%; border-right:1px solid #dfdfdf; border-top:1px solid #dfdfdf;}
.tbl_type_common th{padding:3px 0; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#f5f5f5; font-size:13px; color:#333; text-align:center;}
.tbl_type_common td{padding:3px 0; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; font-size:13px; color:#333; text-align:center;}

/* 공지 텍스트 */
.txt_notice li{padding-left:10px; color:#6a7588; line-height:20px; word-break:keep-all; text-indent:-8px;}
.txt_notice li + li{margin-top:5px;}
.txt_notice li strong{font-weight:500; color:#000;}

/* 텍스트 포인트 컬러 */
.txt_type_01{color:#068bf2 !important;} /* 파란색 */
.txt_type_02{color:#ff0000 !important;} /* 빨간색 */


/* ---------------------------------
검색 CSS
--------------------------------- */
/* 호텔검색 */
.hotel_search_box{position:relative; padding:20px;}
.hotel_search_box .hotel_date_box{margin:4px 0;}
.hotel_search_box .btn_type_common{margin-top:20px;}

/* 호텔 체크인&아웃 */
.hotel_date_box{position:relative; overflow:hidden; background:#fff; border-radius:10px; text-align:center;}
.hotel_date_box dl{float:left; width:50%; padding:20px 0;}
.hotel_date_box dl + dl{border-left:1px solid #f5f5f5;}
.hotel_date_box dt{color:#99a0a5;}
.hotel_date_box dd{margin-top:12px;}
.hotel_date_box dd span{font-weight:700; color:#232323;}
.hotel_date_box .stay{position:absolute; left:50%; top:50%; width:46px; height:25px; margin:-10px 0 0 -23px; background:#fff; border-radius:10px; border:1px solid #c7c7c7;}
.hotel_date_box .stay span{font-size:13px; color:#8c9195; line-height:23px;}

/* 호텔 객실 선택 */
.hotel_room_box dl{overflow:hidden; margin-bottom:4px; background:#fff; border-radius:10px;}
.hotel_room_box dt{float:left; width:20%; border-right:1px solid #f5f5f5; font-size:15px; font-weight:500; color:#068bf2; line-height:40px; text-align:center;}
.hotel_room_box dd{position:relative; float:left; width:80%; padding:6px 120px 6px 45px;}
.hotel_room_box dd .txt{position:absolute; left:10px; top:0; font-size:15px; font-weight:500; color:#41464a; line-height:40px;}
.hotel_room_box dd .ipt_chk{position:absolute; right:40px; top:10px;}
.hotel_room_box .select_box{height:28px; padding:0; border:1px solid #c7c7c7; background:#fff;}
.hotel_room_box .select_box select{height:26px;}
.hotel_room_box .btn_del_room{position:absolute; right:10px; top:50%; width:20px; height:20px; margin-top:-10px; background:url(../images/icon_delete.png) no-repeat 0 0; background-size:20px; text-indent:-9999px;}
.hotel_room_box .btn_more_room{width:100%; font-weight:500; color:#52575c; line-height:30px;}

/* 주요 도시 선택 */
.select_city_box{margin-top:35px;}
.select_city_box .tit{margin-bottom:15px; font-size:16px; font-weight:500;}
.select_city_box ul{overflow:hidden; margin:0 -2px;}
.select_city_box ul li{float:left; padding:2px;}
.select_city_box ul li a{display:block; padding:0 10px; border:1px solid #dedede; border-radius:5px; background:#fff; line-height:34px;}

/* 검색 자동완성 */
.search_auto_box{position:absolute; left:0; top:70px; width:100%; background:#f5f5f5; display:none;}
.search_auto_box .scroll_box{padding:0 20px;}
.search_auto_box li{position:relative; padding:10px 0; font-weight:500; color:#252525;}
.search_auto_box li a{display:inline-block;}
.search_auto_box li span{display:block; margin-top:5px; font-size:12px; font-weight:400; color:#a9a9a9;}
.search_auto_box li:before{position:absolute; left:0; top:8px; width:17px; height:17px; background:url(../images/icon_spr.png) no-repeat 0 0; background-size:17px auto;}
.search_auto_box .i_area, .search_auto_box .i_hotel{padding-left:25px;}
.search_auto_box .i_area:before{content:'';}
.search_auto_box .i_hotel:before{content:''; background-position:0 -20px;}

/* 검색 결과 리스트 */
.search_result_box{padding:68px 0 30px;}
.search_result_box .result_info{position:fixed; left:0; right:0; top:99px; padding:0 20px 15px; background:#fff; z-index:10; transition-duration: .4s;}
.search_result_box .result_info .txt{margin:-5px 0 15px; font-size:13px; color:#979797; text-align:center;}
.search_result_box .result_info .btns{font-size:0;}
.search_result_box .result_info .btns a{display:inline-block; margin:0 5px 5px 0; padding:0 8px; background:#ecf4fa; border-radius:3px; font-size:13px; color:#4a5863; line-height:25px; letter-spacing:-0.02em;}
.search_result_box .result_filter{position:relative; padding:5px 20px;}
.search_result_box .result_filter:after{content:''; display:block; clear:both;}
.search_result_box .result_filter .btn_filter{float:left; line-height:34px;}
.search_result_box .result_filter .btn_filter:before{content:''; display:inline-block; width:20px; height:15px; margin:9px 2px 0 0; background:url(../images/icon_spr.png) no-repeat 0 -43px; background-size:20px auto; vertical-align:top;}
.search_result_box .result_filter .select_box{float:right; width:30%;}
.search_result_box .result_filter_layer{position:absolute; left:0; right:0; top:44px; padding:0 20px 20px; background:#fff; border-bottom:1px solid #626262; z-index:1; display:none;}
.search_result_box .result_filter_layer .tit{margin:25px 0 5px; color:#646464;}
.search_result_box .result_filter_layer ul{overflow:hidden; margin-left:-8px;}
.search_result_box .result_filter_layer ul li{float:left; margin:5px 8px;}
.search_result_box .result_filter_layer .ipt_chk input + label{font-size:14px; color:#444;}
.search_result_box .result_filter_layer .ipt_chk input:checked + label{color:#068bf2;}
.search_result_box .result_filter_layer .ipt_chk input + label:before{margin-right:10px;}
.search_result_box .result_filter_layer .btns{overflow:hidden; margin-top:15px;}
.search_result_box .result_filter_layer .btns button{width:49%; color:#fff; line-height:32px;}
.search_result_box .result_filter_layer .btns .btn_close{float:left; background:#b2b2b2;}
.search_result_box .result_filter_layer .btns .btn_search{float:right; background:#068bf2;}

#wrap.fixed .search_result_box .result_info{top:49px;}

.result_list_box{padding:0 20px;}
.result_list_box .hotel_list_common .img{height:190px;}

/* 리스트01 */
.hotel_list_common a{display:block;}
.hotel_list_common span{display:inline-block;}
.hotel_list_common li{position:relative;}
.hotel_list_common li + li{margin-top:20px;}
.hotel_list_common .img{display:block; overflow:hidden;}
.hotel_list_common .img img{height:100%;}
.hotel_list_common .h_info{padding:15px 15px 20px; border:1px solid #e1e1e1; border-top:none; background:#fff;}
.hotel_list_common .ko{font-size:16px; font-weight:700; color:#1c1d1e; line-height:18px; letter-spacing:-0.05em;}
.hotel_list_common .en{margin:5px 0 8px; font-size:13px; color:#a0a6ab; line-height:15px;}
.hotel_list_common .location{margin-right:5px; font-size:13px; color:#474e51; vertical-align:middle;}
.hotel_list_common .grade + .location{margin-left:5px;}
.hotel_list_common .location + .ko{margin-top:5px;}
.hotel_list_common .hotel_score{margin-top:5px; font-size:13px; color:#474e51;}
.hotel_list_common .hotel_score strong{font-weight:700; color:#000;}
.hotel_list_common .benefit{margin:15px 0 10px; font-size:0;}
.hotel_list_common .benefit span{padding:0 8px; border:1px solid #222; border-radius:15px; font-size:13px; line-height:22px; letter-spacing:-0.05em;}
.hotel_list_common .benefit span + span{margin-left:4px;}
.hotel_list_common .benefit .dc_type1{border-color:#0066ff; color:#0066ff;}
.hotel_list_common .benefit .dc_type2{border-color:#893ccb; color:#893ccb;}
.hotel_list_common .benefit .dc_coupon{border-color:#3dbb84; color:#3dbb84;}
.hotel_list_common .dc_txt{text-align:right;}
.hotel_list_common .dc_txt span{display:block; color:#ff0000; line-height:20px;}
.hotel_list_common .tag{position:absolute; left:0; top:0;}
.hotel_list_common .tag em{display:inline-block; padding:0 10px; background:#ff0090; font-size:15px; color:#fff; line-height:30px; letter-spacing:-0.05em;}
.hotel_list_common .icon_like{position:absolute; right:15px; top:15px;}
.hotel_list_common .icon_like button{width:30px; height:30px; background:url(../images/icon_like_spr.png) no-repeat 0 0; background-size:30px auto; text-indent:-9999px;}
.hotel_list_common .icon_like.active button{background-position:0 -30px;}

/* 달력 */
.calendar_wrap{padding:81px 20px 110px; background:#fff;}
.calendar_wrap .hotel_date_box{position:fixed; left:0; right:0; top:48px; border-radius:0; border-bottom:1px solid #e3e3e3; background:#fff; z-index:3;}
.calendar_wrap .hotel_date_box dl + dl{position:relative; border-color:#e3e3e3}
.calendar_wrap .hotel_date_box dl + dl:before{content:''; position:absolute; left:-10px; top:50%; width:20px; height:20px; border:1px solid #e3e3e3; margin-top:-10px; border-radius:50%; background:#fff url(../images/icon_spr.png) no-repeat 1px -54px; background-size:17px auto;}
.calendar_wrap .scroll_box{overflow-y:scroll;}
.calendar_wrap .calendar_box{text-align:center;}
.calendar_wrap .calendar_box .month{margin:30px 0 20px; font-size:16px; font-weight:700;}
.calendar_wrap .calendar_box table{width:100%;}
.calendar_wrap .calendar_box table th{font-weight:700; line-height:30px;}
.calendar_wrap .calendar_box table td{position:relative; padding:5px 0; border: 1px solid #eee; box-sizing: border-box;}
.calendar_wrap .calendar_box table td span{position:relative; display:inline-block; line-height:30px; vertical-align:middle; z-index:2;}
.calendar_wrap .calendar_box table .select_day span{width:30px; height:30px; border-radius:50%; background:#068bf2; color:#fff;}
.calendar_wrap .calendar_box table .select_stul li,
.calendar_wrap .calendar_box table .select_range ul li{width: 103%; height: 10%; display: block; background: red;}
.calendar_wrap .calendar_box table .select_st ul li:nth-child(1){background: red;}
.calendar_wrap .calendar_box table .select_st ul li:nth-child(2){background: pink}
.calendar_wrap .calendar_box table .select_st ul li:nth-child(3){background: cadetblue;}
.calendar_wrap .calendar_box table .select_range ul li:nth-child(1){background: red;}
.calendar_wrap .calendar_box table .select_range ul li:nth-child(2){background: pink;}
.calendar_wrap .calendar_box table .select_range ul li:nth-child(3){background: cadetblue;}
.calendar_wrap .calendar_box table .select_range span11{width:100%; background:#b6dfff;}
.calendar_wrap .calendar_box table .select_day + .select_range:before,
.calendar_wrap .calendar_box table .select_range + .select_day:before{content:''; position:absolute; left:-50%; top:5px; width:100%; height:30px; background:#b6dfff; z-index:1;}
.calendar_wrap .calendar_box table .sun, .calendar_wrap .calendar_box table .sun span{color:#ff001e;}
.calendar_wrap .calendar_box table .sat, .calendar_wrap .calendar_box table .sat span{color:#53b0e0;}
.calendar_wrap .calendar_box table .past span{font-weight:300; color:#d4d4d4;}
.calendar_wrap .btn_type_common{position:fixed; left:0; right:0; bottom:0; padding:20px; border-top:1px solid #efefef; background:#fff; z-index:3;}

/* 로딩중 */
.loading_layer{position:fixed; left:0; top:165px; right:0; bottom:0; background:rgba(0, 0, 0, .5); z-index:10;}
.loading_layer .loading{position:relative; width:50%; margin:100px auto;}
.loading_layer .loading:before{content:''; position:absolute; left:50%; bottom:18%; width:78px; height:5px; margin-left:-39px; background:url(../images/progress_circle.gif) no-repeat 0 0; background-size:auto 5px;}


/* ---------------------------------
약관 CSS
--------------------------------- */
.pop_term_wrap iframe{position:fixed; left:20px; top:68px; bottom:20px;}


/* ---------------------------------
기타 CSS
--------------------------------- */
.etc_wrap .page_error{padding:20px; text-align:center;}
.etc_wrap .page_error p{font-size:18px; font-weight:500; color:#212527;}
.etc_wrap .page_error p:before{content:''; display:block; margin:30px auto; width:110px; height:93px; background:url(../images/img_error.png) no-repeat 0 0; background-size:cover;}
.etc_wrap .page_error .desc{padding:15px 0 40px; color:#4e5254; line-height:24px;}


/* ---------------------------------
w320 CSS
--------------------------------- */
@media screen and (max-width:359px){
    /* 푸터 */
    .footer_menu ul li a{padding:0 5px;}
    /* 리뷰 */
    .review_list dl > *{font-size:12px;}
    .review_list dd{margin:0 2px;}
    /* 호텔 체크인&아웃 */
    .hotel_date_box .stay{width:40px; margin-left:-20px;}
    /* 검색 결과 리스트 */
    .search_result_box .result_info .btns a{margin:0 4px 5px 0; padding:0 3px;}
    /* 리스트01 */
    .hotel_list_common .benefit span{padding:0 4px;}
    .hotel_list_common .benefit span + span{margin-left:2px;}
}
