@charset "UTF-8";

/* 공통 */
.main_container{position:relative; padding-top:50px;}
.main_container h2{margin:5px 0 15px 0; color:#2c363c; font-size:18px; font-weight:700;}

/* 호텔검색 */
.main_container .hotel_search_box{background:url(../images/main/main_top_visual.jpg) no-repeat 0 0; background-size:cover;}
.main_container .hotel_search_box .intro{padding:10px 0 8px; font-size:16px; color:#fff; line-height:30px;}
.main_container .hotel_search_box .intro p{font-size:18px; font-weight:500; color:#fff;}
.main_container .hotel_search_box .hotel_room_box .btn_more_room{color:#fff;}

/* 카테고리 */
.hotel_main_category{padding:0 20px; margin-top:20px; overflow:hidden;}
.hotel_main_category ul{border:1px solid #eaeaea; border-radius:3px; overflow:hidden;}
.hotel_main_category ul li{width:20%; float:left; text-align:center; background-image:url(../images/main/main_icon_1.png); background-repeat:no-repeat; background-position:center 10px; background-size:auto 22px;}
.hotel_main_category ul li:nth-child(2){background-image:url(../images/main/main_icon_2.png);}
.hotel_main_category ul li:nth-child(3){background-image:url(../images/main/main_icon_3.png);}
.hotel_main_category ul li:nth-child(4){background-image:url(../images/main/main_icon_4.png);}
.hotel_main_category ul li:nth-child(5){background-image:url(../images/main/main_icon_5.png);}
.hotel_main_category ul li + li{border-left:1px solid #eaeaea;}
.hotel_main_category ul li a{display:block; height:100%; min-height:76px; padding-top:50px; padding-bottom:10px; font-size:12px; color:#36435e; word-break: keep-all; letter-spacing:-0.05em;}
.hotel_main_category ul li:nth-child(5) a{padding-top:42px;}

/* 메인배너 */
.hotel_main_banner{padding:0 35px 0 20px; margin-top:20px; overflow:hidden;}
.hotel_main_banner a{width:100%; display:block;}

/* 가격만족 깜짝 특가 호텔 */
.hotel_main_price{position:relative; overflow:hidden; margin-top:20px; padding:0 35px 0 20px;}
.hotel_main_price .more{position:absolute; right:15px; top:5px; padding:5px; color:#8f9598;}
.hotel_main_price .hotel_list_common .img{height:170px;}
.hotel_main_price .hotel_list_common .location{color:#a0a6ab; margin-bottom:10px;}
.hotel_main_price .hotel_list_common .grade{float:right;}
.hotel_main_price .hotel_list_common .ko{width:90%; max-height:54px; height:54px; overflow:hidden; font-size:18px; color:#474e51; line-height:150%; margin-right:70px; word-break: keep-all;}
.hotel_main_price .hotel_list_common .price{text-align:left;}

/* 테마별 호텔 추천 */
.hotel_main_theme{padding:0 20px; margin-top:20px; overflow:hidden;}
.hotel_main_theme ul{overflow:hidden; display:flex; flex-wrap:wrap; justify-content:space-between;}
.hotel_main_theme ul li{width:49%; float:left; margin-bottom:5px;}
.hotel_main_theme ul li:nth-of-type(2n){float:right;}
.hotel_main_theme ul li a{display:block;}
.hotel_main_theme ul li a .thumbnail{position:relative;}
.hotel_main_theme ul li a .thumbnail span{color:#fff; font-size:17px; letter-spacing:-0.05em; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.hotel_main_theme ul li a p{color:#5c5c5c; font-size:13px; line-height:16px; letter-spacing:-0.05em; padding:8px 15px; text-align:center; word-break:keep-all;}

/* 인기만점! 지역별 추천 호텔 */
.hotel_main_area{padding:0 20px; margin-top:20px; overflow:hidden;}
.hotel_main_area .tab_type_common .col6 li {border-top:1px solid #c8c8c8;}
.hotel_main_area .tab_cont ul{overflow:hidden; margin:10px 0; display:flex; flex-wrap:wrap; justify-content:space-between;}
.hotel_main_area .tab_cont ul li{width:49%; float:left; margin:5px 0;}
.hotel_main_area .tab_cont ul li:nth-of-type(2n){float:right;}
.hotel_main_area .hotel_list_common .img{height:130px;}
.hotel_main_area .hotel_list_common .h_info{padding:10px 0; border:none; text-align:left;}
.hotel_main_area .hotel_list_common .h_info .ko{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 19px;}
.hotel_main_area .hotel_list_common .h_info .grade{margin:10px 0 5px; display:block; }
.hotel_main_area .hotel_list_common .h_info .location{color:#a0a6ab;}
.hotel_main_area .hotel_list_common .h_info .price{text-align:left; margin:10px 0;}
.hotel_main_area .hotel_list_common .h_info .price span{font-size:14px; line-height:14px;}
.hotel_main_area .hotel_list_common .h_info .price .before:after{display:none;}

/* 고객센터 문의하기 */
.hotel_main_contact{padding:20px; overflow:hidden; background:#f0f8fc;}
.hotel_main_contact > a{display:block; background:#fff; margin-bottom:5px; height:37px; line-height:37px; text-align:center; font-size:15px;}
