@charset "UTF-8";

/* ---------------------------------
회원 CSS
--------------------------------- */
/* 공통 */
.member_login_wrap .ipt_text{display:block; margin-bottom:10px;}

/* 로그인 */
.member_login_wrap .tab_contents{padding:20px;}

.login_box{padding-bottom:30px;}
.login_box .chk_box{margin-top:15px;}
.login_box .chk_box .ipt_chk input + label{font-size:14px;}
.login_box .chk_box .ipt_chk + .ipt_chk{margin-left:20px;}
.login_box .radio_box{margin-bottom:10px;}

.login_sns_box .tit{position:relative; padding-bottom:5px; text-align:center;}
.login_sns_box .tit:before{content:''; position:absolute; left:0; right:0; top:8px; height:1px; background:#aaa; z-index:-1;}
.login_sns_box .tit span{display:inline-block; padding:0 10px; background:#fff; font-size:13px; color:#aaa; line-height:16px;}
.login_sns_box .btn_type_common button{margin-top:10px;}
.login_sns_box .btn_type_common .btn_naver{background:#47b747;}
.login_sns_box .btn_type_common .btn_kakao{background:#ffeb00; color:#371706;}

.login_link_txt{position:absolute; left:0; right:0; bottom:20px; text-align:center;}
.login_link_txt span{display:inline-block; line-height:15px; vertical-align:top;}
.login_link_txt span + span:before{content:'·'; display:inline-block; margin:0 6px 0 2px; color:#7f7f7f; }
.login_link_txt a{display:inline-block; padding:0 5px; font-size:15px; color:#7f7f7f;}

/* 아이디, 비밀번호 찾기 */
.find_box{padding:20px;}
.find_box .guide{margin-bottom:15px; font-size:13px; color:#565b62; line-height:18px; word-break:keep-all;}
.find_box .result_txt{min-height:30px; margin-bottom:20px; color:#565b62; line-height:30px; text-align:center;}
.find_box .result_txt span{font-weight:500; color:#078bf1;}

.find_box .pw_find{position:relative;}
.find_box .pw_find .ipt_text{width:calc(100% - 70px);}
.find_box .pw_find .ipt_text input{border-radius:5px 0 0 5px;}
.find_box .pw_find .btn_find{position:absolute; right:0; top:0; width:70px; background:#949494; border-radius:0  5px 5px 0; font-size:15px; color:#fff; line-height:40px;}

.find_box .pw_change .ipt_text:after{position:absolute; right:10px; top:50%; width:12px; height:10px; margin-top:-5px; background:url(../images/icon_spr.png) no-repeat 0 0; background-size:17px auto;}
.find_box .pw_change .ipt_text.check:after{content:''; background-position:0 -230px;}
.find_box .pw_change .ipt_text.check input{border-color:#068bf2; background-color:#fff; color:#068bf2;}
.find_box .pw_change .ipt_text.error:after{content:''; background-position:0 -240px;}
.find_box .pw_change .ipt_text.error input{border-color:#f20632; background-color:#fff; color:#f20632;}
.find_box .pw_change + .guide{padding-left:14px; color:#8c8c8c; text-indent:-14px;}

/* 회원가입 공통 */
.member_join_wrap{min-height:330px;}
.member_join_wrap h2{position:relative;padding:15px 20px; font-size:17px; font-weight:500; color:#232323; border-bottom:1px solid #efefef;}
.member_join_wrap h2 span{color:#7e7e7e; font-size:13px; position:absolute; bottom:15px; right:20px;}
.member_join_wrap .input_type_common dt{font-size:15px; color:#000;}
.member_join_wrap .btn_type_common{padding:20px;}

/* 회원가입 step1 */
.member_join_wrap .term_check_box{border-bottom:1px solid #efefef; padding:20px;}
.member_join_wrap .term_check_box ul li + li{margin-top:15px;}
.member_join_wrap .term_check_box li{position:relative; line-height:20px;}
.member_join_wrap .term_check_box .btn_more_term{position:absolute; right:0; top:50%; margin-top:-10px; padding:0 7px;}
.member_join_wrap .term_check_box .btn_more_term span{display:block; width:6px; height:20px; background:url(../images/icon_spr.png) no-repeat 0 -214px; background-size:17px auto; text-indent:-9999px;}
.member_join_wrap .term_check_box .ipt_chk input + label{font-size:15px;}
.member_join_wrap .term_check_box .ipt_chk input + label:before{margin-right:8px;}
.member_join_wrap .term_check_box .ipt_chk input:checked + label{color:#068bf2;}
.member_join_wrap .guide_txt{padding:20px; border-bottom:1px solid #efefef;}
.member_join_wrap .guide_txt > p{font-size:13px; color:#868686; line-height:18px;}

/* 회원가입 step2 */
.member_join_wrap .info_txt{padding:20px; border-bottom:1px solid #efefef;}
.member_join_wrap .info_txt p{background:#fff; border:1px solid #e1e1e1; border-radius:5px; padding:15px; line-height:20px;}

/* 회원가입 step3 */
.member_join_wrap .input_type_common{padding:20px;}
.member_join_wrap .id_box dd{overflow:hidden;}
.member_join_wrap .id_box dd span{float: left; width:75%}
.member_join_wrap .id_box dd .id_check{padding:0; display:inline-block; float:right; width:22%;}
.member_join_wrap .id_box dd .id_check .btn_small{width:100%; font-size:13px;}

/* 간편로그인 */
.member_login_wrap .member_join_wrap > *{padding-left:0; padding-right:0;}
.member_login_wrap .member_join_wrap h2:nth-of-type(1){padding-top:0;}
.member_login_wrap .member_join_wrap h2 span{right:0;}
.member_login_wrap .member_join_wrap .term_check_box{margin-bottom:20px;}
.member_login_wrap .member_join_wrap .ipt_text{margin:0;}
.member_login_wrap .member_join_wrap .guide_txt{padding:10px 0;}
.member_login_wrap .member_join_wrap .btn_type_common{padding-top:0;}


/* ---------------------------------
w320 CSS
--------------------------------- */
@media screen and (max-width:359px){
    /* 회원가입 step1 */
    .member_join_wrap .term_check_box .ipt_chk input + label{font-size:14px;}
}
