@charset "UTF-8";

/* ---------------------------------
예약 및 결제 CSS
--------------------------------- */
/* 공통 */
.reserve_info_wrap{overflow:hidden;}
.reserve_info_wrap h2{margin-bottom:15px; font-size:17px; font-weight:500; color:#232323;}
.reserve_info_wrap .section_type_02{padding:20px;}
.reserve_info_wrap .btn_type_common{padding:20px; border-top:1px solid #efefef;}

.reserve_info_wrap .reserve_txt{overflow:hidden; padding:0 10px 15px;}
.reserve_info_wrap .reserve_txt dt{float:left; padding-right:10px; font-size:15px;}
.reserve_info_wrap .reserve_txt dd{float:left; font-size:15px;}
.reserve_info_wrap .reserve_txt dd + dt{margin-left:15px;}

.reserve_info_wrap .hotel_date_box{border:1px solid #c9cdcf;}
.reserve_info_wrap .hotel_date_box dl + dl{border-color:#c9cdcf;}
.reserve_info_wrap .hotel_date_box .stay{width:40px; margin-left:-20px;}

.reserve_info_wrap .info_type_common{margin-top:10px;}
.reserve_info_wrap .info_type_common dl{overflow:hidden;}
.reserve_info_wrap .info_type_common dt{float:left; width:30%; padding:10px 0; border-top:1px solid #e4e7ea; color:#1b1b1b; line-height:18px;}
.reserve_info_wrap .info_type_common dd{float:left; width:70%; padding:10px 0; border-top:1px solid #e4e7ea; color:#1b1b1b; line-height:18px;}
.reserve_info_wrap .info_type_common dd span{display:inline-block; color:#1b1b1b; line-height:16px;}
.reserve_info_wrap .info_type_common dd strong{font-weight:500;}
.reserve_info_wrap .info_type_common dd em{display:block; margin-top:5px; font-size:13px; color:#848484;}
.reserve_info_wrap .info_type_common dd .before{margin:5px 0;}
.reserve_info_wrap .info_type_common dd .before > *{font-weight:400; text-decoration:line-through;}
.reserve_info_wrap .info_type_common dl:first-child dt, .reserve_info_wrap .info_type_common dl:first-child dd{border-top:none;}
.reserve_info_wrap .info_type_common .remark li{padding-left:43px; color:#1b1b1b; line-height:16px; text-indent:-48px;}
.reserve_info_wrap .info_type_common .remark li + li{margin-top:5px;}
.reserve_info_wrap .info_type_common .remark li:before{content:'Notice'; display:inline-block; width:43px; margin-right:5px; padding:0 3px; font-size:12px; color:#dd7474; border:1px solid #dd7474; text-align:center; text-indent:0;}
.reserve_info_wrap .info_type_common.txt_r dd{text-align:right;}
.reserve_info_wrap .info_type_common a.link{color:#068bf2;}

.reserve_info_wrap .pay_box dt{width:40%; padding:10px 12px; border:none; font-size:16px;}
.reserve_info_wrap .pay_box dd{width:60%; padding:10px 12px; border:none; text-align:right;}
.reserve_info_wrap .pay_box dd > *{font-size:16px;}
.reserve_info_wrap .pay_box .total dt{border-top:1px solid #b6b6b6;}
.reserve_info_wrap .pay_box .total dd{border-top:1px solid #b6b6b6;}

.reserve_info_wrap .input_type_common + .input_type_common{padding-top:15px; border-top:1px solid #eee;}

.reserve_info_wrap .input_type_common .room_type{padding:10px; background:#ecf4fa;}
.reserve_info_wrap .input_type_common .room_type dd span{font-size:15px; font-weight:500; line-height:18px;}

.reserve_info_wrap .guest_box{position:relative; padding:10px 0 15px;}
.reserve_info_wrap .guest_box .guest{display:inline-block; margin-bottom:15px; padding:5px; border:1px solid #068bf2; color:#068bf2;}
.reserve_info_wrap .guest_box .guest + .ipt_chk{position:absolute; top:15px; right:0; margin:0;}

.reserve_info_wrap .txt_required{position:absolute; right:20px; top:33px; font-size:13px; color:#ff0000;}

.reserve_info_wrap .chk_box{margin-bottom:10px;}
.reserve_info_wrap .chk_box .ipt_chk + .ipt_chk{margin-left:10px;}
.reserve_info_wrap .chk_box .ipt_chk input:disabled + label{color:#636363;}
.reserve_info_wrap .chk_box .ipt_chk input:disabled + label:before{border-color:#068bf2; background: url(../images/icon_check_spr.png) no-repeat 0 0; background-size:12px auto;}
.reserve_info_wrap .chk_box .ipt_chk input:checked:disabled + label{color:#068bf2;}
.reserve_info_wrap .chk_box .ipt_chk input:checked:disabled + label:before{background-position:0 -12px; border-color:#068bf2;}

.reserve_info_wrap .guide_txt{margin-top:5px;}
.reserve_info_wrap .guide_txt > p{font-size:13px; color:#868686; line-height:18px;}
.reserve_info_wrap .guide_txt > p + ul{margin-top:5px;}
.reserve_info_wrap .guide_txt li{padding-left:10px; font-size:13px; color:#868686; line-height:18px; word-break:keep-all; text-indent:-8px;}
.reserve_info_wrap .guide_txt li + li{margin-top:5px;}
.reserve_info_wrap .guide_txt strong{font-weight:500;}

.reserve_info_wrap .point_box{position:relative;}
.reserve_info_wrap .point_box .ipt_text{width:calc(100% - 75px);}
.reserve_info_wrap .point_box .ipt_text input{border-radius:5px 0 0 5px;}
.reserve_info_wrap .point_box button{position:absolute; right:0; top:0; width:75px; background:#068bf2; border-radius:0 5px 5px 0; font-size:14px; color:#fff; line-height:40px; text-align:center;}

/* 결제완료 */
.reserve_info_wrap .txt_type_tit{padding:60px 0 20px; border-top:1px solid #e3e3e3; font-size:18px; font-weight:500; color:#212527; text-align:center;}


/* 나의 예약정보 리스트 */
.reserve_list_box{padding:20px;}
.reserve_list_box > div{margin-bottom:20px; border:1px solid #e2e2e2; background:#fff; border-radius:4px;}
.reserve_list_box > div > a{display:block; padding:0 15px 15px;}
.reserve_list_box .num{position:relative; margin:0 -15px; padding:0 15px; background:#068bf2; border-radius:4px 4px 0 0; color:#fff; line-height:30px;}
.reserve_list_box .num:after{content:''; position:absolute; right:10px; top:50%; width:10px; height:10px; margin-top:-5px; background:url(../images/icon_spr.png) no-repeat 0 -200px; background-size:17px auto;}
.reserve_list_box .num span{color:#fff;}
.reserve_list_box .tit{padding:15px 0;}
.reserve_list_box .tit p{font-size:16px; font-weight:500; color:#232323; line-height:20px;}
.reserve_list_box .tit span{display:block; margin-top:5px; color:#a1a1a1;}
.reserve_list_box .hotel_date_box dl{padding:10px 0;}
.reserve_list_box .result{padding:0 15px 12px; line-height:20px;}
.reserve_list_box .result .btn_review{display:inline-block; color:#068bf2; line-height:20px; vertical-align:top;}
.reserve_list_box .result .btn_review:after{content:'▶'; display:inline-block; font-size:10px; vertical-align:top;}
/* .reserve_list_box .txt_no_list{padding:50px 0; text-align:center;} */

/* 약관 */
.term_check_box{margin-bottom:15px; border:1px solid #dcdcdc;}
.term_check_box .all{padding:10px 20px; border-bottom:1px solid #dcdcdc;}
.term_check_box ul{padding:15px 20px;}
.term_check_box li{position:relative; line-height:20px;}
.term_check_box li + li{margin-top:10px;}
.term_check_box .btn_more_term{position:absolute; right:0; top:50%; margin-top:-10px; padding:0 7px;}
.term_check_box .btn_more_term span{display:block; width:6px; height:20px; background:url(../images/icon_spr.png) no-repeat 0 -214px; background-size:17px auto; text-indent:-9999px;}
.term_check_box .all .ipt_chk input + label{font-size:15px; color:#9d9d9d;}
.term_check_box .all .ipt_chk input:checked + label{color:#068bf2;}

/* 리뷰작성 */
.review_write_box .tit{margin-bottom:15px; font-size:15px; font-weight:500; color:#333;}

.review_write_box .hotel_info{position:relative; padding:20px 20px 20px 100px; min-height:95px;}
.review_write_box .hotel_info .img{overflow:hidden; position:absolute; left:20px; top:20px; width:65px; height:55px;}
.review_write_box .hotel_info .img img{width:auto; height:55px;}
.review_write_box .hotel_info .number{font-size:13px; color:#8a8a8a;}
.review_write_box .hotel_info .hotel{overflow:hidden; height:20px; margin:2px 0; font-size:16px; font-weight:500; color:#333; line-height:20px; text-overflow:ellipsis; white-space:nowrap;}
.review_write_box .hotel_info .date{font-size:13px; color:#686868;}

.review_write_box dl + dl{margin-top:25px;}
.review_write_box dt span{font-size:15px; font-weight:500; color:#a9a9a9;}
.review_write_box dd{position:relative; overflow:hidden;}
.review_write_box dd:after{content:''; position:absolute; left:5px; right:5px; top:8px; height:2px; background:#d8d8d8; z-index:1;}
.review_write_box dd .ipt_radio{float:left; width:22%; margin:0; text-align:right; z-index:2;}
.review_write_box dd .ipt_radio em{display:block; font-size:12px; color:#000;}
.review_write_box dd .ipt_radio + .ipt_radio{margin:0;}
.review_write_box dd .ipt_radio.type2 input + label,
.review_write_box dd .ipt_radio.type2 input:checked + label{font-size:12px; color:#939393;}
.review_write_box dd .ipt_radio.type2 input + label:before{margin:0 0 5px; font-size:12px; color:#939393;}
.review_write_box dd .ipt_radio:nth-child(1), .review_write_box dd .ipt_radio:nth-child(2){text-align:left;}
.review_write_box dd .ipt_radio:nth-child(3){width:12%; text-align:center;}
.review_write_box dd .ipt_radio:nth-child(even) em{color:#fff;}

.review_write_box .purpose ul{overflow:hidden; border-left:1px solid #dedede; border-top:1px solid #dedede;}
.review_write_box .purpose li{float:left; width:33.33%; height:30px; border-bottom:1px solid #dedede; border-right:1px solid #dedede; text-align:center;}
.review_write_box .purpose li:nth-child(3n){width:33.34%;}
.review_write_box .purpose input{position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.review_write_box .purpose input + label{position:relative; display:block;}
.review_write_box .purpose input + label em{position:relative; font-weight:500; color:#3c3c3c; line-height:30px; z-index:2;}
.review_write_box .purpose input + label:after{content:''; position:absolute; left:0; right:0; top:0; height:30px;}
.review_write_box .purpose input:checked + label:after{background:#068bf2;}
.review_write_box .purpose input:checked + label em{color:#fff;}

.review_write_box .btn_type_common{padding:0 20px 30px;}


/* ---------------------------------
w320 CSS
--------------------------------- */
@media screen and (max-width:359px){
    /* 공통 */
    .reserve_info_wrap .reserve_txt{padding:0 0 15px;}
    .reserve_info_wrap .reserve_txt > *{font-size:14px;}
    /* 호텔 체크인&아웃 */
    .reserve_info_wrap .hotel_date_box dd span{font-size:13px;}
    .reserve_info_wrap .hotel_date_box .stay{width:34px; margin-left:-17px;}
}
