@charset "utf-8";

/* about */
section#about{margin-top: 0;}
#about .img_wrap{width: 100%; height: 80vh; background-image: url(../images/about.jpg); background-attachment: fixed; background-size: cover;}
#about .about_tit{font-size: 3rem;}
#about .about_tit span{display: block; font-size: 1.4rem; font-weight: 400;}
#about .about_desc{padding: 10rem 0 4rem; position: relative;}
#about .about_desc svg{position: absolute; bottom: 0; right: 0;}


/* ---------------------------------
반응형 CSS
--------------------------------- */

/* 태블릿 */
@media screen and (min-width: 760px){
}

/* 11인치 이상 1024 */
@media screen and (min-width: 1000px){
    
}

/* 12인치 이상 1280 */
@media screen and (min-width: 1260px){
    
}

/* 14인치 이상 1600 */
@media screen and (min-width: 1580px){
    
}

/* 13인치 이상 1920 */
@media screen and (min-width: 1900px){
    
}








