@charset "utf-8";

/*web font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*common*/
html,body{font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 1.4rem; line-height: 1; color: #fff; width: 100%; height: 100%; margin: 0 auto; color: #555; text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
html{font-size: 62.5%; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

.cm_hidden{position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0 0 0 0); border: 0;}

/* header */
#header{position: fixed; top: 0; left: 0; right: 0; z-index: 9; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 2.5rem;}
#header .header_logo h1::after{content: 'eee design project.'; display: block; font-size: 1.2rem; font-weight: 300; color: #000;}
#header .header_nav_wrap ul{background-color: #fff;; position: absolute; top: 0; right: 0; width: 45%; height: 100vh; display: none;}
#header .header_nav_wrap .nav_dim{position: absolute; left: 0; top: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.7); z-index: -1; display: none;}
#header .header_nav_wrap ul{padding: 2.5rem;}
#header .header_nav_wrap ul li{margin-bottom: 2rem;}
#header .header_menu_toggle{padding: 0 1rem;}
#header .header_menu_toggle span{display: block; width: 2rem; height: 1px; background-color: #000; margin: 0.6rem 0;}


/* visual */
#visual{min-width: 32rem;}
#visual .visual{width: 100%; height: 100vh; background-repeat: no-repeat; background-position: center top;}
#visual .visual1{background-image: url(../images/visual1.jpg);}
#visual .visual2{background-image: url(../images/visual2.jpeg);}
#visual .visual3{background-image: url(../images/visual3.jpg);}
#visual .visual4{background-image: url(../images/visual4.jpg);}

/* footer */
#footer{padding: 2.5rem;}
#footer p{font-size: 1.1rem; line-height: 1.5;}




/* keyframes */
@keyframes move_item1 {
    0%, 100% {transform: translate(0, 0)}
    50% {transform: translate(-10px, -10px);}
}
@-webkit-keyframes move_item1 {
    0%, 100% {transform: translate(0, 0)}
    50% {transform: translate(-10px, -10px);}
}


@keyframes move_item2 {
    0%, 100% {transform: translate(0, 0)}
    50% {transform: translate(-10px, 10px);}
}
@-webkit-keyframes move_item2 {
    0%, 100% {transform: translate(0, 0)}
    50% {transform: translate(-10px, 10px);}
}

@keyframes talk {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}
@-webkit-keyframes talk {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}

@keyframes Marquee {
    from {-webkit-transform: translateX(0%);transform: translateX(0%);}
    to {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
}
@-webkit-keyframes Marquee {
    from {-webkit-transform: translateX(0%);transform: translateX(0%);}
    to {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
}




