@charset "utf-8";

/*web font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* common */
html,body{font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 1.4rem; line-height: 1.5; color: #fff; width: 100%; margin: 0 auto; color: #222; text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; word-break: keep-all;}
html{font-size: 62.5%; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
section:not(#visual){margin-top: 9rem; padding-bottom: 5rem;}
section:not(#visual) ~ footer{padding-top: 5rem; border-top: 1px solid #eee;}
.cm_hidden{position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0 0 0 0); border: 0;}
.cm_tit{font-size: 2.5rem; font-weight: 600; text-align: center; padding: 2rem 0 3rem;}
.cm_desc{font-size: 1.2rem; text-align: center;}
.cm_through{text-decoration: line-through; margin-right: 1rem; color: #bbb;}
.cm_inner{padding: 2.5rem;}

/* header */
#header{position: fixed; top: 0; left: 0; right: 0; z-index: 9; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 2.5rem; z-index: 99;}
#header h1{font-size: 1.2rem; font-weight: 300; color: #000; letter-spacing: -0.023rem;}
#header .header_nav_wrap .nav_wrap{background-color: #fff;; position: absolute; top: 0; right: -100%; width: 60%; height: 100vh; padding: 6.5rem 0; transition: all .2s;}
#header .header_nav_wrap .nav_wrap svg{position: absolute; bottom: 2.5rem; right: 2.5rem;}
#header .header_nav_wrap .nav_wrap > li{border-bottom: 1px solid #eee;}
#header .header_nav_wrap .nav_wrap a{display: block; padding: 1rem 2.5rem;}
#header .header_nav_wrap .nav_wrap .lnb{background-color: #f6f6f6; display: none;}
#header .header_nav_wrap .nav_wrap .lnb a{padding-left: 4rem;}
#header .header_nav_wrap .nav_wrap .lnb a:hover{color: #004ea1;}
#header .header_nav_wrap .nav_wrap .lnb a strong{font-weight: 400;}
#header .header_nav_wrap .nav_dim{position: absolute; left: 0; top: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.75); z-index: -1; transition: all .3s;display: none;}
#header .header_menu_toggle{padding: 0 1rem; position: absolute; top: 3.1rem; right: 2.5rem; transition: all .3s;}
#header .header_menu_toggle span{display: block; width: 2rem; height: 1px; background-color: #000; margin: 0.6rem 0; transition: all .3s;}
/* header menu_on */
body.menu_on{overflow-y: hidden;}
body.menu_on #header .header_nav_wrap .nav_wrap{right: 0;}
body.menu_on #header .header_nav_wrap .nav_dim{display: block;}
body.menu_on #header .header_menu_toggle{transform: rotate(45deg) translateX(-10px) translateY(10px);}
body.menu_on #header .header_menu_toggle span:nth-of-type(1){transform: translateY(6px);}
body.menu_on #header .header_menu_toggle span:nth-of-type(2){width: 0; transition: none;}
body.menu_on #header .header_menu_toggle span:nth-of-type(3){transform: translateY(-8px) rotate(90deg);}

/* footer */
#footer{padding: 2.5rem;}
#footer p{font-size: 1.1rem;}


/* keyframes */
@keyframes move_item1 {
    0%, 100% {transform: translate(0, 0)}
    50% {transform: translate(-10px, -10px);}
}
@-webkit-keyframes move_item1 {
    0%, 100% {transform: translate(0, 0)}
    50% {transform: translate(-10px, -10px);}
}