@charset "utf-8";

/* common */
html,body{height: 100%;}

/* main visual */
#visual{min-width: 32rem; width: 100%; height: 100%;}
#visual .visual_slide{width: 100%; height: 100%;}
#visual .swiper-slide{background-repeat: no-repeat; background-position: center top; background-size: cover;}
#visual .visual1{background-image: url(../images/visual1.jpg);}
#visual .visual2{background-image: url(../images/visual4.jpg);}
#visual .visual3{background-image: url(../images/visual3.jpg);}
#visual .visual4{background-image: url(../images/visual4.jpg);}
#visual .visual_text{width: 100%; position: absolute; left: 0; top: 50%; transform: translateY(-50%); color: #fff; font-size: 5rem; line-height: 1.2;}
#visual .visual_text span{font-size: 3rem;}


