@charset "utf-8";

/* view */
#view  .view_slide{margin: 4rem 0;}
#view .tit{font-size: 2.5rem; margin: 2rem 0;}
#view .price{margin: 1rem 0;}
#view .desc{margin-top: 5rem;}
#view .btn_buy{border: 1px solid #eee; padding: 1rem; display: block; text-align: center; margin: 4rem 0;}
#view .empty{background: #eee; width: 100%; padding-top: 50%; text-align: center; position: relative;;}
#view .empty span{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}












